<div class="experiva-home flex flex-direction-column">
  <div class="banner flex">
    <img src="assets/images/banner.jpg" alt="Let's Fly together">
    <div class="home-banner-content">
      <h4>Let's Discover the world</h4>
      <h2>Together!</h2>
    </div>
    <div class="search">
      <mat-tab-group class="tabs">
        <mat-tab label="Flights">
          <ng-container *ngTemplateOutlet="flightSearch; context:{$implicit:flightSearchForm}"></ng-container>
        </mat-tab>
        <mat-tab label="Hotels">
          <ng-container [ngTemplateOutlet]="hotelsSearch"></ng-container>
        </mat-tab>
        <mat-tab label="Packages">Content 3 </mat-tab>
      </mat-tab-group>
      <ng-template #flightSearch let-form>
        <form [formGroup]="form" *ngIf="form">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary"
              [ngClass]="{'selected':(form.get('JourneyType').value === TBOFlightJourneyType.OneWay)}"
              (click)="setJourneyType(TBOFlightJourneyType.OneWay)">One Way</mat-chip>
            <mat-chip color="primary"
              [ngClass]="{'selected':(form.get('JourneyType').value === TBOFlightJourneyType.Return)}"
              (click)="setJourneyType(TBOFlightJourneyType.Return)">Round Trip </mat-chip>
            <mat-chip color="primary"
              [ngClass]="{'selected':(form.get('JourneyType').value === TBOFlightJourneyType.MultiStop)}"
              (click)="setJourneyType(TBOFlightJourneyType.MultiStop)">Multi city </mat-chip>
          </mat-chip-list>
          <div [ngSwitch]="form.get('JourneyType').value" *ngIf="form.get('Segments') as segments">
            <div *ngSwitchCase=" TBOFlightJourneyType.Return">
              <!-- <ng-container *ngFor="let segment of segments.controls"> -->
              <ng-container *ngTemplateOutlet="returnFlightSearch; context:{$implicit:segments.controls[0]}">
              </ng-container>
              <!-- </ng-container> -->
              <div class="actions flex flex-justify-content-center">
                <button mat-raised-button color="primary" (click)="searchFlights()" class="btn btn-search"> Search
                  Flight </button>
              </div>
            </div>
            <div *ngSwitchDefault>
              <ng-container *ngFor="let segment of segments.controls">
                <ng-container *ngTemplateOutlet="multiStopFlightSearch; context:{$implicit:segment}">
                </ng-container>
              </ng-container>
              <div *ngIf="form.get('JourneyType').value === TBOFlightJourneyType.MultiStop">
                <button mat-button color="primary" (click)="addQuerySegment()">Add City</button>
              </div>
              <div class="actions flex flex-justify-content-center">
                <button mat-raised-button color="primary" (click)="searchFlights()" class="btn btn-search"> Search
                  Flight </button>
              </div>
            </div>
          </div>
          <ng-template #returnFlightSearch let-segment>
            <div class="route">
              <!-- <ng-container > -->
              <div class="from">
                <mat-form-field>
                  <input type="text" placeholder="From" matInput [formControl]="segment.get('Origin')"
                    [matAutocomplete]="flightOrigin">
                  <mat-autocomplete (optionSelected)="segment.get('Origin').setValue($event.option.value)" #flightOrigin
                    [displayWith]="mapToAirportName">
                    <mat-option
                      *ngFor="let airport of airports$ | async | filter:segment.get('Origin').valueChanges:filterAirports"
                      [value]="airport">
                      <div class="city-name">{{airport.city}} <span>{{airport.iata}}</span>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="to">
                <mat-form-field>
                  <input type="text" placeholder="To" matInput [formControl]="segment.get('Destination')"
                    [matAutocomplete]="flightDestination">
                  <mat-autocomplete (optionSelected)="segment.get('Destination').setValue($event.option.value)"
                    #flightDestination [displayWith]="mapToAirportName">
                    <mat-option
                      *ngFor="let airport of airports$ | async | filter:segment.get('Destination').valueChanges:filterAirports"
                      [value]="airport">
                      <div class="city-name">{{airport.city}} <span>{{airport.iata}}</span>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="dates flex flex-align-items-center flex-justify-content-space-between">
                <div class="departure-date">
                  <mat-form-field>
                    <input matInput [min]="today" [formControl]="segment.get('PreferredDepartureTime')"
                      [matDatepicker]="departureDate" placeholder="Departure date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="departureDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="true" #departureDate disabled="false">
                    </mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="icon" *ngIf="form.get('JourneyType').value === TBOFlightJourneyType.Return">
                  <mat-icon>arrow_forward</mat-icon>
                </div>
                <div class="return-date" *ngIf="form.get('JourneyType').value === TBOFlightJourneyType.Return">
                  <mat-form-field>
                    <input matInput [min]="segment.get('PreferredDepartureTime')?.value || today"
                      [formControl]="segment.get('PreferredArrivalTime')" [matDatepicker]="returnDate"
                      placeholder="Return date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="true" #returnDate [disabled]="false">
                    </mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <!-- </ng-container> -->
            </div>
          </ng-template>
          <ng-template #multiStopFlightSearch let-segment>
            <div class="route">
              <!-- <ng-container > -->
              <div class="from">
                <mat-form-field>
                  <input type="text" placeholder="From" matInput [formControl]="segment.get('Origin')"
                    [matAutocomplete]="flightOrigin">
                  <mat-autocomplete (optionSelected)="segment.get('Origin').setValue($event.option.value)" #flightOrigin
                    [displayWith]="mapToAirportName">
                    <mat-option
                      *ngFor="let airport of airports$ | async | filter:segment.get('Origin').valueChanges:filterAirports"
                      [value]="airport">
                      <div class="city-name">{{airport.city}} <span>{{airport.iata}}</span>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="to">
                <mat-form-field>
                  <input type="text" placeholder="To" matInput [formControl]="segment.get('Destination')"
                    [matAutocomplete]="flightDestination">
                  <mat-autocomplete (optionSelected)="segment.get('Destination').setValue($event.option.value)"
                    #flightDestination [displayWith]="mapToAirportName">
                    <mat-option
                      *ngFor="let airport of airports$ | async | filter:segment.get('Destination').valueChanges:filterAirports"
                      [value]="airport">
                      <div class="city-name">{{airport.city}} <span>{{airport.iata}}</span>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="dates flex flex-align-items-center flex-justify-content-space-between">
                <div class="departure-date">
                  <mat-form-field>
                    <input matInput [min]="today" [formControl]="segment.get('PreferredDepartureTime')"
                      [matDatepicker]="departureDate" placeholder="Departure date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="departureDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="true" #departureDate disabled="false">
                    </mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="icon" *ngIf="form.get('JourneyType').value === TBOFlightJourneyType.Return">
                  <mat-icon>arrow_forward</mat-icon>
                </div>
                <!-- <div class="return-date"
										*ngIf="form.get('JourneyType').value === TBOFlightJourneyType.Return">
										<mat-form-field>
											<input matInput
												[min]="segment.get('PreferredDepartureTime')?.value || today"
												(dateChange)="segments.controls[1].get('PreferredDepartureTime').setValue($event.value)"
												[matDatepicker]="returnDate" placeholder="Return date" disabled>
											<mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
											<mat-datepicker [touchUi]="true" #returnDate
												[disabled]="form.get('JourneyType').value===TBOFlightJourneyType.OneWay">
											</mat-datepicker>
										</mat-form-field>
									</div> -->
              </div>
              <!-- </ng-container> -->
            </div>
          </ng-template>
        </form>
      </ng-template>
      <ng-template #hotelsSearch>
        <ng-container *ngIf="hotelSearchForm">
          <div class="route" [formGroup]="hotelSearchForm">
            <div class="destination">
              <mat-form-field>
                <input type="text" placeholder="City" matInput [formControl]="hotelDestination"
                  [matAutocomplete]="hotelDestinationControl">
                <mat-autocomplete #hotelDestinationControl [displayWith]="mapToHotelCitytName">
                  <mat-option *ngFor="let city of cities$ | async | filter:hotelDestination.valueChanges:filterHotels"
                    [value]="city">
                    <div class="city-name">{{city.CityName}} </div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="dates flex flex-align-items-center flex-justify-content-space-between">
              <div class="departure-date">
                <mat-form-field>
                  <input matInput [matDatepicker]="checkInDateControl" formControlName="CheckInDate" disabled
                    placeholder="Check In" disabled>
                  <mat-datepicker-toggle matSuffix [for]="checkInDateControl"></mat-datepicker-toggle>
                  <mat-datepicker [touchUi]="true" #checkInDateControl disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="icon">
                <mat-icon>arrow_forward</mat-icon>
              </div>
              <div class="return-date">
                <mat-form-field>
                  <input matInput [min]="hotelSearchForm.get('CheckInDate')?.value || today"
                    [matDatepicker]="checkOutDateControl" placeholder="Check Out" disabled
                    (dateChange)="updateNumberOfNights($event.value)">
                  <mat-datepicker-toggle matSuffix [for]="checkOutDateControl"></mat-datepicker-toggle>
                  <mat-datepicker [touchUi]="true" #checkOutDateControl disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="rooms">
              <mat-form-field>
                <mat-label>Rooms</mat-label>
                <select matNativeControl formControlName="NoOfRooms">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </mat-form-field>
            </div>
            <div class="adults">
              <mat-form-field>
                <mat-label>No. of Adults in a room</mat-label>
                <select matNativeControl [formControl]="hotelAdultsInRoom">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </mat-form-field>
            </div>
            <div class="actions flex flex-justify-content-center">
              <button [disabled]="hotelSearchForm.invalid" mat-raised-button color="primary" class="btn btn-search"
                (click)="searchHotels()"> Search Hotels </button>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
  <div class="offers-and-promotions">
    <div class="container">
      <h2>Our best offers</h2>
      <div class="content flex flex-justify-content-center">
        <div class="offer-of-week">
          <div class="span secondary-heading">Offer of the week</div>
          <div class="offer flex flex-align-items-center">
            <div class="labels">
              <div class="from margin-bottom-medium">
                <label class="secondary-text">From</label>
                <div class="city">Singapore</div>
              </div>
              <div class="to">
                <label class="secondary-text">To</label>
                <div class="city">Malaysia</div>
              </div>
            </div>
            <div class="thumbnail">
              <img src="assets/images/offer.jpg" alt="">
            </div>
            <div class="price">
              <label class="secondary-text">New price</label>
              <div>
                <div class="offer__price primary-text">$ 820.00</div>
                <button mat-raised-button color="primary">View calander</button>
              </div>
            </div>
          </div>
        </div>
        <div class="promotions">
          <div class="secondary-heading">New promotions</div>
          <div class="promotions-container flex flex-direction-column">
            <div class="promotion">
              <div class="thumbnail"><img src="assets/images/indonesia.png" alt=""></div>
              <div class="description">
                <div>
                  <label class="secondary-text">Visit</label>
                  <div class="city">Indonesia</div>
                </div>
                <div class="price primary-text">$ 430.00</div>
              </div>
            </div>
            <div class="promotion flex flex-align-items-center">
              <div class="thumbnail"><img src="assets/images/aruba.png" alt=""></div>
              <div class="description">
                <div>
                  <label class="secondary-text">Visit</label>
                  <div class="city">Aruba</div>
                </div>
                <div class="price primary-text">$ 430.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="container">
      <div class="flex">
        <div class="card">
          <div class="card__title">
            <div class="card__title--text">Priority boarding</div>
            <div class="card__title--icon">
              <svg>
                <use xlink:href="./assets/images/home-sprite.svg#icon-power"></use>
              </svg>
            </div>
          </div>
          <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem
            suscipit illum </div>
          <div class="card__actions">
          </div>
        </div>
        <div class="card">
          <div class="card__title">
            <div class="card__title--text">Rent a car with us</div>
            <div class="card__title--icon">
              <svg>
                <use xlink:href="./assets/images/home-sprite.svg#icon-car"></use>
              </svg>
            </div>
          </div>
          <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem
            suscipit illum </div>
          <div class="card__actions">
          </div>
        </div>
        <div class="card">
          <div class="card__title">
            <div class="card__title--text">Expervia Premium</div>
            <div class="card__title--icon">
              <svg>
                <use xlink:href="./assets/images/home-sprite.svg#icon-award"></use>
              </svg>
            </div>
          </div>
          <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem
            suscipit illum </div>
          <div class="card__actions">
          </div>
        </div>
        <div class="card">
          <div class="card__title">
            <div class="card__title--text">Book your hotel now</div>
            <div class="card__title--icon">
              <svg>
                <use xlink:href="./assets/images/home-sprite.svg#icon-office"></use>
              </svg>
            </div>
          </div>
          <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem
            suscipit illum </div>
          <div class="card__actions">
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="features-banner">
    <div class="container">
      <div class=" flex flex-justify-content-center">
        <div class="features-banner__background">
          <img src="./assets/images/home-footer-banner.jpg" alt="">
        </div>
        <div class="features-banner__foreground">
          <div class="title">
            <h3 class="mat-heading">Expervia</h3>
            <div class="mat-subheading">The finest travel</div>
          </div>
          <div class="feature-list">
            <ul>
              <li>Reserved Priority seats & Priority Boarding.</li>
              <li>Arrive on time</li>
              <li>Flexibility & Frequency</li>
              <li>Baggage Allowance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="flex flex-justify-content-center">
        <!-- <div class="footer__background">
					<img src="./assets/images/fotter_grey_left_side_map.png" alt="">
				</div> -->
        <div class="footer__content flex flex-justify-content-space-between">
          <div class="about-experiva">
            <div class="mat-title">
              <img src="./assets/images/fotter_grey_logo.png" alt="">
            </div>
            <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis cumque nulla natus
              tenetur dolores quaerat enim accusantium et cum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Sint officiis cumque nulla natus tenetur dolores</div>
          </div>
          <div class="quick-links">
            <div class="mat-title">Quick links</div>
            <div class="body">
              <ul>
                <li>Home</li>
                <li>Flights</li>
                <li>Hotels</li>
                <li>Services</li>
                <li>Blogs</li>
                <li>Contact us</li>
              </ul>
            </div>
          </div>
          <div class="customer-care">
            <div class="mat-title">Customer care</div>
            <div class="body">
              <ul>
                <li>About us</li>
                <li>Privacy policy</li>
                <li>Refund policy</li>
                <li>Disclaimer policy</li>
                <li>Terms & conditions</li>
                <li>FAQs</li>
              </ul>
            </div>
          </div>
          <div class="quick-links">
            <div class="mat-title">Contact us</div>
            <div class="body">
              <ul>
                <li>
                  <svg>
                    <use xlink:href="./assets/images/home-sprite.svg#map-marker"></use>
                  </svg> 7/25 Sheridan Lane Gundagai, NSW 27221</li>
                <li>
                  <svg>
                    <use xlink:href="./assets/images/home-sprite.svg#phone"></use>
                  </svg> +61 2 5924 0804, 1800 123 2135</li>
                <li>
                  <svg>
                    <use xlink:href="./assets/images/home-sprite.svg#envelope"></use>
                  </svg> info@travoweb.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="border"></div>
        <div class="flex flex-justify-content-center">
          <p>&copy; 2019. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
