@mixin experiva-home($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary
  );
  $accent: map-get(
    $map: $theme,
    $key: accent
  );
  nav
  {
	border-top:1px solid #EEE;
      ul {
        overflow: auto;
        display: none;
        white-space: nowrap;

        @include respond(tab-port) {
          display: block;
        }
        li {
          margin: 0 auto;
          border-bottom: 4px solid transparent;
          padding: 0.5rem 2rem;
          display: inline-block;
          cursor: pointer;
		  font-family: ClearSans Regular;

			@include respond(tab-land) {
			  padding: 0.5rem 1.5rem;
			}
			@include respond(desktop) {
			  padding: 0.5rem 2rem;
			}
          &.active {
            border-bottom: 4px solid mat-color($primary);
            color: mat-color($primary);
          }

          .login {
            color: mat-color($primary);
          }

          &:last-child {
            margin-left: 6rem;
			
			@include respond(tab-land)
			{
				margin-left:3rem;
			}
			
			@include respond(desktop)
			{
				margin-left:6rem;
			}
          }
        }
      }
  }
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .experiva-home {
    .mat-chip-list-wrapper {
      margin: 0;
    }

    .mat-form-field {
      display: block;
    }

    .banner {
      position: relative;
      justify-content: stretch;

      @include respond(tab-port) {
        justify-content: center;
      }

      img {
        width: 100%;
        height: 27rem;
        display: none;
		object-fit: cover;

        @include respond(tab-port) {
          display: block;
        }
      }
	  .home-banner-content
	  {
		position:absolute;
		right:10%;
		top:65%;
		transform: translateY(-65%);
		display:none;
		h4
		{
			font-family: Allura Regular;
			color:#FFF;
			font-size: 50px;
			letter-spacing: 4px;
			line-height: 49px;
		}
		h2
		{
			font-family: Brush Script MT Kursiv;
			color:#FFF;
			font-size: 132px;
			letter-spacing: 10px;
			line-height: 130px;
		}
		@include respond(tab-port)
		{
			display:none;
		}
		@include respond(desktop)
		{
			display:block;
		}
		
	  }

      .search {
        width: 100%;
		
        @include respond(tab-port) {
          width: auto;
          position: absolute;
          @include mat-elevation(5);
          top: 3rem;
          left: 8%;
        }
		
		input.mat-input-element
		{
			font-weight:600;
			color: mat-color($foreground, base);
		}

        background: mat-color($background, card);
        // min-height: 30rem;
        padding-bottom: 1rem;
        border-radius: 7px;

        .tabs {
          .mat-chip.mat-standard-chip.mat-primary {
            margin: 1.5rem 0.75rem;
            background: mat-color($background, card);
            color: mat-color($foreground, disabled-text);
            border: 2px solid #EEE;
			
            &:after {
              background: none;
            }

            &.selected {
              border: 2px solid mat-color($primary);
              color: mat-color($primary);
            }
          }
        }

        .route {
          padding: 0 1rem;

          .mat-form-field-underline {
            // background: transparent;
          }

          .mat-select-arrow {
            color: transparent;
          }

          .mat-form-field.mat-focused {
            .mat-form-field-ripple {
              // background: transparent;
            }

            .mat-form-field-label {
              color: mat-color($foreground, secondary-text);
            }
          }

          .dates {
            mat-icon {
              color: mat-color($foreground, secondary-text);
            }

            .mat-form-field-infix {
              width: 8rem;
            }
          }
        }

        .actions {
          margin-top: 3rem;

          button {
            width: 15rem;
			background:mat-color($primary);
			color:#FFF;
          }
        }
      }
    }

    .offers-and-promotions {
      margin-top: 4rem;
      position: relative;

      @include respond(tab-port) {
        margin-top: 12rem;
      }
	  
		@include respond(tab-land) {
		  padding: 1rem;
		}
		@include respond(desktop) {
		  padding: 0rem;
		}

      h2 {
        transform: translate(0, 0) rotate(-3deg);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: #5a5a58;
        font-size: 40px;
        font-family: OleoScript Bold;

        @include respond(tab-port) {
          left: 50%;
          transform: translate(-50%, -30px) rotate(-3deg);
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-port) {
          flex-direction: row;
        }

        margin-top: 5rem;

        @include respond(tab-port) {
          & > * {
            padding: 0rem;
            /* flex: 1; */

            &:first-child {
              border-right: 1px solid mat-color($foreground, divider);
            }
          }
        }

        .offer-of-week {
          width: 100%;
          padding-bottom: 2rem;
          /* border-bottom: 1px solid mat-color($foreground, divider); */

          @include respond(tab-port) {
            padding-bottom: 0;
            /* border: none; */
            padding-right: 2rem;
          }
		  
          @include respond(tab-land) {
			padding-right:1rem;
          }
		  
          @include respond(desktop) {
			padding-right:2rem;
          }

          .secondary-heading {
            text-align: center;
            font-family: ClearSans Regular;
            margin-bottom: 2rem;

            @include respond(tab-port) {
              text-align: left;
              margin-bottom: 0rem;
            }
          }

          .offer {
            flex-direction: column;
            // justify-content: center;
            $show-in-mobile-view-at: 1140px;

            @media screen and (min-width: $show-in-mobile-view-at) {
              flex-direction: row;

              & > * {
                flex: 1;
                justify-content: space-around;
              }
            }
			
			  @include respond (tab-land)
			  {
				flex-direction: row;
			  }

            .labels {
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-around;

              @media screen and (min-width: $show-in-mobile-view-at) {
                flex-direction: column;
                width: auto;
              }
			  
			  @include respond (tab-land)
			  {
				flex-direction: column;
				width:auto;
			  }
			  @include respond (desktop)
			  {
				width:auto;
			  }
			  .margin-bottom-medium
			  {
				@include respond (tab-land)
				{
					margin-bottom: 1rem;
				}
				@include respond (desktop)
				{
					margin-bottom: 2rem;
				}
			  }

              label {
                font-size: 0.9rem;
				margin-bottom:0.5rem;
				font-family: ClearSans Regular;
              }

              .city {
                font-size: 1.5rem;
				font-family: ClearSans Regular;

                @include respond(tab-land) {
                  font-size: 1.3rem;
                }
                @include respond(desktop) {
                  font-size: 2rem;
                }
              }
            }

            .thumbnail {
              /* margin: 1rem; */
              width: auto;
              height: auto;
			  margin:1rem;

              @include respond(tab-port) {
                width: 200px;
                height: 246px;
              }
              @include respond(tab-land) {
                width: auto;
                height: auto;
              }
              @include respond(desktop) {
                width: 200px;
                height: 246px;
              }

              img {
				height: 250px;
				object-fit: cover;
				width: auto;
				@media screen and (max-width: $show-in-mobile-view-at)
				{
					height:auto;
				}
				@include respond (tab-land)
				{
					height:175px;
				}
				@include respond (desktop)
				{
					height:250px;
				}
              }
            }

            .price {
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: center;
              align-items: center;

              @include respond(tab-port) {
				justify-content: space-around;
              }
              @include respond(tab-land) {
				flex-direction: column;
				width: auto;
              }
              @include respond(desktop) {
				flex-direction: column;
				width: 100%;
              }

              @media screen and (min-width: $show-in-mobile-view-at) {
                flex-direction: column;
              }
			  button
			  {
				font-family:ClearSans Regular;
				@include respond(tab-land)
				{
					padding: 0 0.5rem;
				}
				@include respond(desktop)
				{
					padding: 0 1rem;
				}
			  }
              label {
                font-size: 0.9rem;
				margin-bottom:0.5rem;
				font-family:ClearSans Regular;
              }

              .offer__price {
                font-size: 2rem;
				font-family:ClearSans Bold;
				  @include respond(tab-land) {
					font-size: 1.2rem;
				  }
				  @include respond(desktop) {
					font-size: 2rem;
				  }
              }
            }
          }
        }

        .promotions {
          padding-top: 2rem;

          @include respond(tab-port) {
            padding-top: 0;
            border: none;
			margin-left:4rem;
          }
          @include respond(tab-land) {
			margin-left:1rem;
          }
          @include respond(desktop) {
			margin-left:4rem;
          }

          $show-in-mobile-view-at: 1140px;

          .secondary-heading {
            text-align: center;
            font-family: ClearSans Regular;
            margin-bottom: 1rem;

            @include respond(tab-port) {
              text-align: left;
              margin-bottom: 0rem;
            }
          }

          &-container {
            .promotion {
              display: flex;
              flex-direction: column;
              align-items: center;

              @media screen and (min-width: $show-in-mobile-view-at) {
                flex-direction: row;
              }
              @include respond(tab-land) {
                flex-direction: row;
              }

              & > * {
                flex: 1;
              }

              .thumbnail {
                margin: 1rem 1rem 0 0;
                height: 123px;
                width: 254px;

                @media screen and (max-width: $show-in-mobile-view-at) {
                  height: auto;
                  width: auto;
                  margin: 1rem 0 0 0;
                }
				@include respond (tab-land)
				{
					margin: 1rem 1rem 0 0;
				}
				@include respond (desktop)
				{
					margin: 1rem 1rem 0 0;
				}

                img {
                  height: auto;
                  object-fit: cover;
                  width: auto;

                  @media screen and (max-width: $show-in-mobile-view-at) {
                    height: auto;
                  }
                }
              }

              .description {
                // width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 260px;

                @media screen and (min-width: $show-in-mobile-view-at) {
                  flex-direction: column;
                  align-items: flex-start;
                }
				
				
				@include respond(tab-land)
				{
					justify-content: left;
					flex-direction: column;
					width:auto;
					align-items: normal;
				}
				
				@include respond(desktop)
				{
					justify-content: space-between;
					flex-direction: column;
					width:260px;
				}

                .price {
                  font-size: 1.5rem;
                  font-family: ClearSans Bold;

                  @media screen and (min-width: $show-in-mobile-view-at) {
                    font-size: 2rem;
                  }
				  @include respond(tab-land)
				  {
					font-size: 1.2rem;
				  }
				  @include respond(desktop)
				  {
					font-size: 2rem;
				  }
                }
              }
            }
          }
        }
      }
    }

    .promotions {
      .promotion {
        .description {
          font-family: ClearSans Regular;

          .city {
            margin-bottom: 0.3rem;
            margin-top: 0.3rem;
          }
        }
      }
    }

    .features {
      padding: 1rem;

      .flex {
        display: block;

		@include respond(tab-port)
		{
			display:flex;
		}
		@include respond(tab-land)
		{
			display:inline-block;
		}
		@include respond(desktop)
		{
			display:flex;
		}
      }
    }

    .features {
      justify-content: center;
      margin: 4rem 0;
      flex-wrap: wrap;

      .card {
        width: 100%;
        padding: 1.2rem 2rem;
		margin: 0.5rem 0 2rem;
		font-family:ClearSans Regular;
        border: 1px solid rgba(mat-color($primary), 0.2);
		@include respond(tab-port)
		{
			width:17rem;
			padding: 1rem;
			margin: 0.5rem;
		}
		@include respond(tab-land)
		{
			float:left;
			width:21rem;
		}
		@include respond(desktop)
		{
			float:none;
			width:17rem;
		}

        &:hover {
          box-shadow: 0 0 10px 1px rgba(mat-color($primary), 0.2);
        }

        &__title {
          margin-bottom: 1rem;
          font-weight: bold;
          font-size: 1.1rem;
          color: mat-color($foreground, secondary-text);
          display: flex;
          justify-content: space-between;

          &--icon svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: mat-color($primary);
          }
        }

        &__body {
          font-size: 0.9rem;
          color: mat-color($foreground, disabled-text);
        }
      }
    }

	.container
	{
		max-width:100%;
		margin:0 auto;
		padding-left: 15px;
		padding-right: 15px;
		@include respond(tab-port)
		{
			max-width:1140px;
		}
		@include respond(tab-land)
		{
			max-width:100%;
		}
		@include respond(desktop)
		{
			max-width:1140px;
		}
	}

    .features-banner {
      min-height: 20rem;
      position: relative;

      .flex {
        display: block;

		@include respond(tab-port)
		{
			display:flex;
		}
      }

      img {
        height: auto;
        width: auto;
      }

      &__foreground {
        margin: 0rem auto 0;
        padding: 1rem;
        position: relative;
        top: 0;

        @include respond(tab-port) {
          position: absolute;
          left: 7%;
        }

        .title {
          transform: rotate(-3deg);
          color: mat-color($primary);
          display: flex;
          flex-direction: column;
          align-items: normal;
          position: relative;
          top: 0;
          left: 0;

          @include respond(tab-port) {
            position: absolute;
            top: 4rem;
            left: 1rem;
            align-items: flex-end;
          }
		  @include respond(tab-land)
		  {
				top: 1rem;
		  }
		  @include respond(desktop)
		  {
				top: 4rem;
		  }

          @include respond(tab-land) {
            top: 1rem;
          }

          @include respond(desktop) {
            top: 4rem;
          }

          .mat-heading {
            font-size: 5rem;
            font-family: OleoScript Bold;
            line-height: 5rem;

            @include respond(tab-land) {
              font-size: 4rem;
              line-height: 3rem;
            }

            @include respond(desktop) {
              font-size: 5rem;
              line-height: 5rem;
            }
          }

          .mat-subheading {
            font-size: 1.4rem;
            font-weight: 500;
            font-family: OleoScript Regular;
          }
        }

        .feature-list {
          position: relative;
          top: 2rem;
		  

		@include respond(tab-port) {
			top: 10rem;
		}
		@include respond(tab-land)
		{
			top:5rem;
		}
		@include respond(desktop)
		{
			top:10rem;
		}

          @include respond(tab-land) {
            top: 5rem;
          }

          @include respond(desktop) {
            top: 10rem;
          }
        }

        .feature-list {
          ul {
            li {
              line-height: 4rem;
              position: relative;
              padding-left: 2rem;
              font-size: 1.1rem;
              font-family: ClearSans Regular;
				
			@include respond(tab-land)
			{
				line-height: 3.3rem;
			}
			@include respond(desktop)
			{
				line-height: 4rem;
			}

              @include respond(tab-land) {
                line-height: 3.3rem;
              }

              @include respond(desktop) {
                line-height: 4rem;
              }

              &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 1rem;
                width: 1rem;
                border-radius: 4px;
                background: mat-color($primary);
              }
            }
          }
        }
      }
    }

    .footer {
      ul {
        li {
          line-height: 30px;

          svg {
            width: 1.3rem;
            height: 1rem;
            fill: mat-color($accent);
          }
        }
      }
    }

    .footer {
      .copyright {
        .border {
          border-top: 1px solid mat-color($foreground, divider);
          content: '';
          padding-top: 10px;
          width: 17rem;
          margin: 0 auto;
        }

        p {
          font-weight: 600;
          text-transform: uppercase;
          color: mat-color($accent);
          font-size: 14px;
          letter-spacing: 0.3px;
        }
      }
    }

    .footer {
      position: relative;
      padding-top: 3rem;
      padding-bottom: 0.7rem;
      font-family: ClearSans Regular;
      background: url('./assets/images/fotter_grey_left_side_map.png');

      .about-experiva {
        flex: 1 1 100%;

        @include respond(tab-port) {
          flex: 1 1 25%;
        }

        .mat-title {
          text-align: left;

          @include respond(tab-port) {
            text-align: center;
          }
        }
      }

      &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
      }

      &__content {
        flex-wrap: wrap;

        & > * {
          flex: 1 1 50%;

          @include respond(tab-port) {
            flex: 1 1 25%;
          }

          padding: 1rem;

          .mat-title {
            height: 2.8125rem;
            margin-bottom: 0.5rem;
            font-family: ClearSans Bold;
            color: mat-color($foreground, secondary-text);
          }

          .body {
            font-size: 0.9rem;
            color: mat-color($foreground, disabled-text);
            line-height: 26px;
          }
        }
      }
    }
  }
}
