<div class="experiva-search">
  <div class="banner row">
    <img
      src="./assets/images/flight-banner.jpg"
      class="img-responsive"
      alt=""
      srcset=""
    />
    <h3>Flights Booking</h3>
  </div>
  <ng-container *ngIf="flightSearchForm">
    <form class="search row" [formGroup]="flightSearchForm">
      <div class="col-12">
        <div class="journey-type">
          <mat-form-field>
            <mat-label>Trip Type</mat-label>
            <mat-select
              formControlName="JourneyType"
              (selectionChange)="setJourneyType($event.value)"
            >
              <mat-option
                *ngFor="let journeyType of journeyTypes"
                [value]="journeyType.value"
              >
                {{ journeyType.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div
        class="journey-filter col-12"
        *ngIf="flightSearchForm.get('Segments') as segments"
      >
        <div [ngSwitch]="flightSearchForm.get('JourneyType').value">
          <div *ngSwitchCase="TBOFlightJourneyType.Return">
            <ng-container *ngFor="let segment of segments.controls">
              <ng-container
                *ngTemplateOutlet="
                  returnSearch;
                  context: { $implicit: segment }
                "
              ></ng-container>
            </ng-container>
          </div>
          <div *ngSwitchDefault>
            <ng-container *ngFor="let segment of segments.controls">
              <ng-container
                *ngTemplateOutlet="
                  multiStopSearch;
                  context: { $implicit: segment }
                "
              ></ng-container>
            </ng-container>
            <div
              *ngIf="
                flightSearchForm.get('JourneyType').value ===
                TBOFlightJourneyType.MultiStop
              "
            >
              <button mat-button color="primary" (click)="addQuerySegment()">
                Add City
              </button>
            </div>
          </div>
        </div>
        <div class="actions col">
          <button mat-raised-button color="primary" (click)="loadFlights()">
            <svg>
              <use
                xlink:href="./assets/images/home-sprite.svg#icon-edit-3"
              ></use>
            </svg>
            &nbsp; Modify
          </button>
        </div>
      </div>
    </form>
    <ng-template #multiStopSearch let-segment>
      <div class="row">
        <div class="from col">
          <mat-form-field>
            <input
              type="text"
              placeholder="From"
              matInput
              [formControl]="segment.get('Origin')"
              [matAutocomplete]="flightOrigin"
            />
            <mat-autocomplete
              (optionSelected)="
                segment.get('Origin').setValue($event.option.value.iata)
              "
              #flightOrigin
              [displayWith]="mapToAirportName"
            >
              <mat-option
                *ngFor="
                  let airport of airports$
                    | async
                    | filter: segment.get('Origin').valueChanges:filterAirports
                "
                [value]="airport"
              >
                <div class="city-name">
                  {{ airport.city }} <span>{{ airport.iata }}</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="icon">
          <svg>
            <use
              xlink:href="./assets/images/home-sprite.svg#icon-loop-alt4"
            ></use>
          </svg>
        </div>
        <div class="to col">
          <mat-form-field>
            <input
              type="text"
              placeholder="To"
              matInput
              [formControl]="segment.get('Destination')"
              [matAutocomplete]="flightDestination"
            />
            <mat-autocomplete
              (optionSelected)="
                segment.get('Destination').setValue($event.option.value.iata)
              "
              #flightDestination
              [displayWith]="mapToAirportName"
            >
              <mat-option
                *ngFor="
                  let airport of airports$
                    | async
                    | filter
                      : segment.get('Destination').valueChanges
                      : filterAirports
                "
                [value]="airport"
              >
                <div class="city-name">
                  {{ airport.city }} <span>{{ airport.iata }}</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="departure-date col">
          <mat-form-field>
            <input
              matInput
              [min]="today"
              [formControl]="segment.get('PreferredDepartureTime')"
              [matDatepicker]="departureDate"
              placeholder="Departure date"
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="departureDate"
            ></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="true" #departureDate disabled="false">
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template #returnSearch let-segment>
      <div class="row">
        <div class="from col">
          <mat-form-field>
            <input
              type="text"
              placeholder="From"
              matInput
              [formControl]="segment.get('Origin')"
              [matAutocomplete]="flightOrigin"
            />
            <mat-autocomplete
              (optionSelected)="
                segment.get('Origin').setValue($event.option.value.iata)
              "
              #flightOrigin
              [displayWith]="mapToAirportName"
            >
              <mat-option
                *ngFor="
                  let airport of airports$
                    | async
                    | filter: segment.get('Origin').valueChanges:filterAirports
                "
                [value]="airport"
              >
                <div class="city-name">
                  {{ airport.city }} <span>{{ airport.iata }}</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="icon">
          <svg>
            <use
              xlink:href="./assets/images/home-sprite.svg#icon-loop-alt4"
            ></use>
          </svg>
        </div>
        <div class="to col">
          <mat-form-field>
            <input
              type="text"
              placeholder="To"
              matInput
              [formControl]="segment.get('Destination')"
              [matAutocomplete]="flightDestination"
            />
            <mat-autocomplete
              (optionSelected)="
                segment.get('Destination').setValue($event.option.value.iata)
              "
              #flightDestination
              [displayWith]="mapToAirportName"
            >
              <mat-option
                *ngFor="
                  let airport of airports$
                    | async
                    | filter
                      : segment.get('Destination').valueChanges
                      : filterAirports
                "
                [value]="airport"
              >
                <div class="city-name">
                  {{ airport.city }} <span>{{ airport.iata }}</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="departure-date col">
          <mat-form-field>
            <input
              matInput
              [min]="today"
              [formControl]="segment.get('PreferredDepartureTime')"
              [matDatepicker]="departureDate"
              placeholder="Departure date"
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="departureDate"
            ></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="true" #departureDate disabled="false">
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container [ngSwitch]="selectedJourneyType">
    <experiva-one-way-flights-search
      *ngSwitchCase="TBOFlightJourneyType.OneWay"
      (filters)="onFiltersChange($event)"
      [flights]="(flights$ | async) || []"
      [loading]="loading"
      [availableAirlines]="availableAirlines"
    >
      <div mobile-filter>
        <a>
          <button mat-button (click)="openBottomSheet()">
            <svg>
              <use
                xlink:href="./assets/images/home-sprite.svg#icon-filter"
              ></use>
            </svg>
            Sort & Filter
          </button>
        </a>
      </div>
    </experiva-one-way-flights-search>
    <experiva-return-flights-search
      *ngSwitchCase="TBOFlightJourneyType.Return"
      (filters)="onFiltersChange($event)"
      [flights]="(flights$ | async) || []"
      [loading]="loading"
      [availableAirlines]="availableAirlines"
    >
    </experiva-return-flights-search>
    <experiva-multi-step-flights-search
      *ngSwitchCase="TBOFlightJourneyType.MultiStop"
      (filters)="onFiltersChange($event)"
      [flights]="(flights$ | async) || []"
      [loading]="loading"
      [availableAirlines]="availableAirlines"
    ></experiva-multi-step-flights-search>
  </ng-container>
</div>
