@import './one-way-flights-search/one-way-flights-search.component.scss';
@import './return-flights-search/return-flights-search.component.scss';
@import './multi-step-flights-search/multi-step-flights-search.component.scss';
@mixin experiva-search($theme) {
  @include experiva-one-way-flights-search($theme);
  @include experiva-return-flights-search($theme);
  @include experiva-multi-step-flights-search($theme);
  $background: map-get(
    $map: $theme,
    $key: background
  );
  $foreground: map-get(
    $map: $theme,
    $key: foreground
  );
  $primary: map-get(
    $map: $theme,
    $key: primary
  );
  $accent: map-get(
    $map: $theme,
    $key: accent
  );
  $warn: map-get(
    $map: $theme,
    $key: warn
  );
  .mat-datepicker-toggle-default-icon {
    fill: #ff5722;
  }
  .experiva-search {
    .search {
      @include mat-elevation(8);

      .journey-type {
        .mat-form-field-wrapper {
          background: #f1f1f1;
          padding: 5px 8px 5px 14px;
          border-radius: 6px;
        }
      }
      .icon {
        display: flex;
        align-items: center;
        margin-right: 16px;

        @include respond(tab-land) {
          margin-right: 15px;
        }
        @include respond(desktop) {
          margin-right: 15px;
        }
        svg {
          height: 1.7rem;
          width: 1.5rem;
          fill: mat-color($primary);
        }
      }
      .journey-filter {
        mat-form-field.mat-form-field {
          width: 100%;
        }
      }
      // background-color: mat-color($foreground, card);
      background-color: mat-color($background, card);
      max-width: 900px;
      margin: 0 auto;
      margin-top: 0px;
      position: fixed;
      z-index: 9;
      padding: 10px;
      margin-bottom: 40px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;

      @include respond(tab-land) {
        margin-top: -130px;
        margin-bottom: 50px;
        position: relative;
      }
      @include respond(desktop) {
        margin-top: -80px;
        margin-bottom: 80px;
        position: relative;
      }
      .mat-form-field-infix {
        width: 120px;
        label {
          font-family: ClearSans;
          color: mat-color($foreground, disabled-text);
        }
      }
      .mat-form-field-appearance-legacy {
        .mat-form-field-wrapper {
          padding-bottom: 0.25rem;
        }

        @include respond(tab-land) {
          padding-bottom: 0.75rem;
        }
        @include respond(desktop) {
          padding-bottom: 0.75rem;
        }
      }
      .actions {
        text-align: center;

        .mat-raised-button.mat-primary {
          padding: 0rem 3rem;
          font-family: ClearSans;

          svg {
            height: 1rem;
            width: 1rem;
            fill: #fff;
          }
        }
      }
      .mat-form-field-appearance-legacy {
        .mat-form-field-underline {
          display: none;
        }
      }

      .mat-raised-button {
        border-radius: 5px !important;
      }
      .mat-select-value-text {
        font-weight: 600;
        color: mat-color($primary);
      }
      .mat-select-arrow {
        color: mat-color($primary);
      }
      .mat-input-element {
        font-weight: 600;
        color: mat-color($foreground, base);
        font-family: ClearSans Bold;
      }
    }

    .banner {
      height: 250px;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin: 0 auto;
      display: none;

      @include respond(tab-land) {
        display: block;
      }
      @include respond(desktop) {
        display: block;
      }
      img {
        object-fit: cover;
      }
      h3 {
        position: absolute;
        top: 34%;
        transform: translateY(-34%);
        left: 12%;
        font-family: ClearSans;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-size: 25px;
        @include respond(tab-land) {
          top: 15%;
          transform: translateY(-15%);
          left: 8%;
        }
        @include respond(desktop) {
          top: 34%;
          transform: translateY(-34%);
        }
      }
    }
  }
}
