<div class="experiva-return-flights-search">
  <div class="return-filter">
    <div class="container content">
      <div class="depart-time">
        <h5>Departure from Chandigarh</h5>
        <mat-checkbox
          (change)="filterDepartureTime('Morning', $event.checked)"
          class="example-margin"
        >
          (00:01 - 11:59) <span class="mor">Morning</span>
        </mat-checkbox>
        <mat-checkbox
          (change)="filterDepartureTime('Afternoon', $event.checked)"
          class="example-margin"
        >
          (12:00 - 15:59) <span class="mor">Afternoon</span></mat-checkbox
        >
        <mat-checkbox
          (change)="filterDepartureTime('Evening', $event.checked)"
          class="example-margin"
        >
          (16:00 - 20:59) <span class="mor">Evening</span></mat-checkbox
        >
        <mat-checkbox
          (change)="filterDepartureTime('Night', $event.checked)"
          class="example-margin"
        >
          (21:00 - 24:00) <span class="mor">Night</span></mat-checkbox
        >
      </div>

      <div class="depart-time">
        <h5>Departure from Amritsar</h5>
        <mat-checkbox
          (change)="filterReturnDepartureTime('Morning', $event.checked)"
          class="example-margin"
        >
          (00:01 - 11:59) <span class="mor">Morning</span>
        </mat-checkbox>
        <mat-checkbox
          (change)="filterReturnDepartureTime('Afternoon', $event.checked)"
          class="example-margin"
        >
          (12:00 - 15:59) <span class="mor">Afternoon</span></mat-checkbox
        >
        <mat-checkbox
          (change)="filterReturnDepartureTime('Evening', $event.checked)"
          class="example-margin"
        >
          (16:00 - 20:59) <span class="mor">Evening</span></mat-checkbox
        >
        <mat-checkbox
          (change)="filterReturnDepartureTime('Night', $event.checked)"
          class="example-margin"
        >
          (21:00 - 24:00) <span class="mor">Night</span></mat-checkbox
        >
      </div>

      <div class="security">
        <h5>Security</h5>
        <mat-checkbox
          class="example-margin"
          (change)="filterRefundableFlights(true, $event.checked)"
        >
          Refundable
        </mat-checkbox>
        <mat-checkbox
          class="example-margin"
          (change)="filterRefundableFlights(false, $event.checked)"
        >
          Non Refundable</mat-checkbox
        >
      </div>

      <div class="stops">
        <h5>Stops</h5>
        <mat-checkbox
          class="example-margin"
          (change)="filterFilghtsByStops(0, $event.checked)"
        >
          Direct
        </mat-checkbox>
        <mat-checkbox
          class="example-margin"
          (change)="filterFilghtsByStops(1, $event.checked)"
        >
          1 Stop
        </mat-checkbox>
        <mat-checkbox
          class="example-margin"
          (change)="filterFilghtsByStops(2, $event.checked)"
        >
          2+ Stops
        </mat-checkbox>
      </div>

      <div class="pref-airlines">
        <h5>Preferred Airlines</h5>
        <mat-checkbox
          class="example-margin"
          (change)="filterFlightsByAirline(airline.key, $event.checked)"
          *ngFor="let airline of airlinesAvailable | keyvalue"
        >
          {{ airline.value.AirlineName }}</mat-checkbox
        >
      </div>
    </div>
  </div>

  <div class="return-sort-filter">
    <div class="content container">
      <div class="col-6">
        <div class="depart-price">
          <div class="depart-flight-heading">
            <h3>Departure Flight</h3>
            <h5>Chandigarh to Amritsar | Sat, 14Sep</h5>
          </div>
          <div class="depart-flight-price">
            <mat-form-field>
              <mat-label>Sorted by : <strong>Price</strong></mat-label>
              <mat-select>
                <mat-option>
                  Low
                </mat-option>
                <mat-option>
                  High
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="return-price">
          <div class="return-flight-heading">
            <h3>Return Flight</h3>
            <h5>Amritsar to Chandigarh | Sat, 14Sep</h5>
          </div>
          <div class="return-flight-price">
            <mat-form-field>
              <mat-label>Sorted by : <strong>Price</strong></mat-label>
              <mat-select>
                <mat-option>
                  Low
                </mat-option>
                <mat-option>
                  High
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container content">
    <div class="mob-return flights res-mobile">
      <mat-tab-group>
        <mat-tab label="Onward">
          <div class="flights res-mobile" *ngIf="!loading">
            <div
              class="flight row align-items-center"
              *ngFor="let flightOption of flights[0]"
            >
              <div class="flight__icon col-1">
                <img
                  class="img-responsive"
                  [src]="
                    'assets/images/flights/' + flightOption.AirlineCode + '.jpg'
                  "
                  alt=""
                  srcset=""
                />
              </div>
              <div class="flight__details col-9 row align-items-center">
                <ng-container *ngFor="let segment of flightOption.Segments">
                  <ng-container
                    *ngFor="let flight of segment; let first = first"
                  >
                    <div class="flight__source" *ngIf="first">
                      <div class="flight__name">
                        {{ flight.Airline.AirlineName }}
                      </div>
                      <div class="flight__code">
                        {{ flight.Airline.AirlineCode }}
                      </div>
                      <div class="flight__source--depart-time">
                        {{ moment(flight.Origin.DepTime).format('HH:mm') }}
                      </div>
                      <div class="flight__source--depart-city">
                        {{ flight.Origin.Airport.CityName }}
                      </div>
                      <div class="flight__source-city-code">
                        ({{ flight.Origin.Airport.CityCode }})
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container
                  *ngFor="
                    let segment of flightOption.Segments;
                    let index = index
                  "
                >
                  <div class="flight__travel-time" *ngIf="index === 0">
                    <div>{{ flightOption.TimeToTravel }}</div>
                    <div *ngIf="segment.length > 1">
                      {{ segment.length - 1 }} Stop via
                      {{ segment[0].Destination.Airport.CityName }}
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngFor="let segment of flightOption.Segments">
                  <ng-container *ngFor="let flight of segment; let last = last">
                    <div class="flight__destination" *ngIf="last">
                      <div class="flight__fare--rules">
                        <span class="fare-rule">Fare Rules</span>
                        <span
                          class="ref-noref"
                          *ngIf="flightOption.IsRefundable"
                          >Refundable</span
                        >
                      </div>
                      <div class="flight__source--depart-time">
                        {{ moment(flight.Destination.ArrTime).format('HH:mm') }}
                      </div>
                      <div class="flight__source--depart-city">
                        {{ flight.Destination.Airport.CityName }}
                      </div>
                      <div class="flight__source-city-code">
                        ({{ flight.Destination.Airport.CityCode }})
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
              <div class="flight__price col-2">
                <div class="price">₹ {{ flightOption.Fare.OfferedFare }}</div>
                <div class="book-now">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="review()"
                  >
                    Book now
                  </button>
                </div>
                <div class="flight-detail">
                  <a href="javascipt:void()">Flight Details</a>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Return">
          <div class="flights res-mobile" *ngIf="!loading">
            <div
              class="flight row align-items-center"
              *ngFor="let flightOption of flights[1]"
            >
              <div class="flight__icon col-1">
                <img
                  class="img-responsive"
                  [src]="
                    'assets/images/flights/' + flightOption.AirlineCode + '.jpg'
                  "
                  alt=""
                  srcset=""
                />
              </div>
              <div class="flight__details col-9 row align-items-center">
                <ng-container *ngFor="let segment of flightOption.Segments">
                  <ng-container
                    *ngFor="let flight of segment; let first = first"
                  >
                    <div class="flight__source" *ngIf="first">
                      <div class="flight__name">
                        {{ flight.Airline.AirlineName }}
                      </div>
                      <div class="flight__code">
                        {{ flight.Airline.AirlineCode }}
                      </div>
                      <div class="flight__source--depart-time">
                        {{ moment(flight.Origin.DepTime).format('HH:mm') }}
                      </div>
                      <div class="flight__source--depart-city">
                        {{ flight.Origin.Airport.CityName }}
                      </div>
                      <div class="flight__source-city-code">
                        ({{ flight.Origin.Airport.CityCode }})
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container
                  *ngFor="
                    let segment of flightOption.Segments;
                    let index = index
                  "
                >
                  <div class="flight__travel-time" *ngIf="index === 0">
                    <div>{{ flightOption.TimeToTravel }}</div>
                    <div *ngIf="segment.length > 1">
                      {{ segment.length - 1 }} Stop via
                      {{ segment[0].Destination.Airport.CityName }}
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngFor="let segment of flightOption.Segments">
                  <ng-container *ngFor="let flight of segment; let last = last">
                    <div class="flight__destination" *ngIf="last">
                      <div class="flight__fare--rules">
                        <span class="fare-rule">Fare Rules</span>
                        <span
                          class="ref-noref"
                          *ngIf="flightOption.IsRefundable"
                          >Refundable</span
                        >
                      </div>
                      <div class="flight__source--depart-time">
                        {{ moment(flight.Destination.ArrTime).format('HH:mm') }}
                      </div>
                      <div class="flight__source--depart-city">
                        {{ flight.Destination.Airport.CityName }}
                      </div>
                      <div class="flight__source-city-code">
                        ({{ flight.Destination.Airport.CityCode }})
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
              <div class="flight__price col-2">
                <div class="price">₹ {{ flightOption.Fare.OfferedFare }}</div>
                <div class="book-now">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="review()"
                  >
                    Book now
                  </button>
                </div>
                <div class="flight-detail">
                  <a href="javascipt:void()">Flight Details</a>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="flights res-desktop" *ngIf="!loading">
      <div
        class="flight row align-items-center"
        *ngFor="let flightOption of flights[0]; let flightIndex = index"
        (click)="onwardsFlight = flightOption"
      >
        <div class="flight__icon col-1">
          <img
            class="img-responsive"
            [src]="'assets/images/flights/' + flightOption.AirlineCode + '.jpg'"
            alt=""
            srcset=""
          />
        </div>
        <div class="flight__details col-9 row align-items-center">
          <ng-container
            *ngFor="
              let segment of flightOption.Segments;
              let segmentIndex = index
            "
          >
            <ng-container
              *ngFor="let flight of segment; let first = first; let last = last"
            >
              <div class="flight__source" *ngIf="first">
                <div class="flight__name">
                  {{ flight.Airline.AirlineName }}
                </div>
                <div class="flight__code">
                  {{ flight.Airline.AirlineCode }}
                </div>
                <div class="flight__source--depart-time">
                  {{ moment(flight.Origin.DepTime).format('HH:mm') }}
                </div>
                <div class="flight__source--depart-city">
                  {{ flight.Origin.Airport.CityName }}
                </div>
                <div class="flight__source-city-code">
                  ({{ flight.Origin.Airport.CityCode }})
                </div>
              </div>
              <div class="flight__travel-time" *ngIf="first">
                <div>{{ flightOption.TimeToTravel }}</div>
                <div *ngIf="segment.length > 1">
                  {{ segment.length - 1 }} Stop via
                  {{ segment[0].Destination.Airport.CityName }}
                </div>
              </div>
              <div class="flight__destination" *ngIf="last">
                <div class="flight__fare--rules">
                  <span class="fare-rule">Fare Rules</span>
                  <span class="ref-noref" *ngIf="flightOption.IsRefundable"
                    >Refundable</span
                  >
                </div>
                <div class="flight__source--depart-time">
                  {{ moment(flight.Destination.ArrTime).format('HH:mm') }}
                </div>
                <div class="flight__source--depart-city">
                  {{ flight.Destination.Airport.CityName }}
                </div>
                <div class="flight__source-city-code">
                  ({{ flight.Destination.Airport.CityCode }})
                </div>
              </div>
            </ng-container>
          </ng-container>
          <!-- <ng-container
            *ngFor="let segment of flightOption.Segments; let index = index"
          >
          </ng-container> -->
          <!-- <ng-container *ngFor="let segment of flightOption.Segments">
                <ng-container *ngFor="let flight of segment; let last = last">

                </ng-container>
              </ng-container> -->
        </div>
        <div class="flight__price col-2">
          <input
            [id]="flightIndex"
            type="radio"
            [(ngModel)]="onwardsFlight"
            [value]="flightOption"
            aria-label="Select an option"
          />
          <div class="price">₹ {{ flightOption.Fare.OfferedFare }}</div>
        </div>
      </div>
    </div>

    <div class="flights res-desktop" *ngIf="!loading">
      <div
        class="flight row align-items-center"
        *ngFor="let flightOption of flights[1]; let flightIndex = index"
        (click)="returnFlight = flightOption"
      >
        <div class="flight__icon col-1">
          <img
            class="img-responsive"
            [src]="'assets/images/flights/' + flightOption.AirlineCode + '.jpg'"
            alt=""
            srcset=""
          />
        </div>
        <div class="flight__details col-9 row align-items-center">
          <ng-container
            *ngFor="
              let segment of flightOption.Segments;
              let segmentIndex = index
            "
          >
            <ng-container
              *ngFor="let flight of segment; let first = first; let last = last"
            >
              <div class="flight__source" *ngIf="first">
                <div class="flight__name">
                  {{ flight.Airline.AirlineName }}
                </div>
                <div class="flight__code">
                  {{ flight.Airline.AirlineCode }}
                </div>
                <div class="flight__source--depart-time">
                  {{ moment(flight.Origin.DepTime).format('HH:mm') }}
                </div>
                <div class="flight__source--depart-city">
                  {{ flight.Origin.Airport.CityName }}
                </div>
                <div class="flight__source-city-code">
                  ({{ flight.Origin.Airport.CityCode }})
                </div>
              </div>
              <div class="flight__travel-time" *ngIf="first">
                <div>{{ flightOption.TimeToTravel }}</div>
                <div *ngIf="segment.length > 1">
                  {{ segment.length - 1 }} Stop via
                  {{ segment[0].Destination.Airport.CityName }}
                </div>
              </div>
              <div class="flight__destination" *ngIf="last">
                <div class="flight__fare--rules">
                  <span class="fare-rule">Fare Rules</span>
                  <span class="ref-noref" *ngIf="flightOption.IsRefundable"
                    >Refundable</span
                  >
                </div>
                <div class="flight__source--depart-time">
                  {{ moment(flight.Destination.ArrTime).format('HH:mm') }}
                </div>
                <div class="flight__source--depart-city">
                  {{ flight.Destination.Airport.CityName }}
                </div>
                <div class="flight__source-city-code">
                  ({{ flight.Destination.Airport.CityCode }})
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="flight__price col-2">
          <input
            [id]="flightIndex"
            type="radio"
            [(ngModel)]="returnFlight"
            [value]="flightOption"
            aria-label="Select an option"
          />
          <div class="price">₹ {{ flightOption.Fare.OfferedFare }}</div>
        </div>
      </div>
    </div>
    <footer class="footer" *ngIf="!loading">
      <button
        mat-button
        color="primary"
        (click)="review()"
      >
        Book Now
      </button>
    </footer>
    <div class="skeleton-screen" *ngIf="loading">
      <div class="flight flex" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
        <div class="flight__icon">
          <div class="line"></div>
        </div>
        <div class="flight__details">
          <div class="line"></div>
        </div>
        <div class="flight__fare">
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="mobile-filters-toggle">
      <a href="javascript:void()" mat-button (click)="openFilters()">
        <svg>
          <use xlink:href="./assets/images/home-sprite.svg#icon-filter"></use>
        </svg>
        Sort & Filter
      </a>
    </div>
  </div>
</div>
