@mixin experiva-multi-step-flights-search($theme) {
  .experiva-multi-step-flights-search {
    .skeleton-screen {
      width: 100%;
      flex: 100%;
      .flight {
        display: flex;
        padding: 4rem 0;
        & > * {
          padding: 0.25rem;
        }

        .flight__icon {
          flex: 0 0 20%;
        }

        .flight__details {
          flex: 0 0 50%;
        }

        .flight__fare {
          flex: 0 0 30%;
        }
      }
    }
  }
}
