<div class="experiva-multi-step-flights-search">
    <div class="container-fluid content">
        <div class="row">
            <div class="filters col-3" #filtersEl>
                <h3>Filters</h3>
                <h5>Departure from Chandigarh</h5>
                <div class="depart-time">
                    <mat-checkbox (change)="filterDepartureTime('Morning', $event.checked)" class="example-margin">
                        (00:01 - 11:59) <span class="mor">Morning</span>
                    </mat-checkbox>
                    <mat-checkbox (change)="filterDepartureTime('Afternoon', $event.checked)" class="example-margin">
                        (12:00 - 15:59) <span class="mor">Afternoon</span></mat-checkbox>
                    <mat-checkbox (change)="filterDepartureTime('Evening', $event.checked)" class="example-margin">
                        (16:00 - 20:59) <span class="mor">Evening</span></mat-checkbox>
                    <mat-checkbox (change)="filterDepartureTime('Night', $event.checked)" class="example-margin">
                        (21:00 - 24:00) <span class="mor">Night</span></mat-checkbox>
                </div>

                <h5>Security</h5>

                <div class="security">
                    <mat-checkbox class="example-margin" (change)="filterRefundableFlights(true, $event.checked)">
                        Refundable
                    </mat-checkbox>
                    <mat-checkbox class="example-margin" (change)="filterRefundableFlights(false, $event.checked)">
                        Non Refundable</mat-checkbox>
                </div>

                <h5>Stops</h5>

                <div class="stops">
                    <mat-checkbox class="example-margin" (change)="filterFilghtsByStops(0, $event.checked)">
                        Direct
                    </mat-checkbox>
                    <mat-checkbox class="example-margin" (change)="filterFilghtsByStops(1, $event.checked)">
                        1 Stop
                    </mat-checkbox>
                    <mat-checkbox class="example-margin" (change)="filterFilghtsByStops(2, $event.checked)">
                        2+ Stops
                    </mat-checkbox>
                </div>

                <h5 *ngIf="airlinesAvailable.size">Preferred Airlines</h5>

                <div class="pref-airlines">
                    <mat-checkbox class="example-margin" (change)="filterFlightsByAirline(airline.key, $event.checked)"
                        *ngFor="let airline of airlinesAvailable | keyvalue">
                        {{ airline.value.AirlineName }}</mat-checkbox>
                </div>
            </div>
            <div class="trip col-9">
                <div class="row" *ngFor="let trip of trips;let tripIndex=index">
                    <h3 class="col-12">{{trip.source}} to {{trip.destination}}</h3>
                    <div class="flights res-desktop col-12" *ngIf="!loading">
                        <div class="flight row align-items-center" *ngFor="let flightOption of flights[0]">
                            <div class="flight__icon col-1">
                                <img class="img-responsive"
                                    [src]="'assets/images/flights/' + flightOption.AirlineCode + '.jpg'" alt=""
                                    srcset="" />
                            </div>
                            <div class="flight__details col-9 row align-items-center">

                                <ng-container *ngIf="flightOption.Segments[tripIndex] as trip">
                                    <ng-container *ngFor="let flight of trip; let first = first; let last = last">
                                        <div class="flight__source" *ngIf="first">
                                            <div class="flight__name">{{ flight.Airline.AirlineName }}</div>
                                            <div class="flight__code">{{ flight.Airline.AirlineCode }}</div>
                                            <div class="flight__source--depart-time">
                                                {{ moment(flight.Origin.DepTime).format('HH:mm') }}
                                            </div>
                                            <div class="flight__source--depart-city">
                                                {{ flight.Origin.Airport.CityName }}
                                            </div>
                                            <div class="flight__source-city-code">
                                                ({{ flight.Origin.Airport.CityCode }})
                                            </div>
                                        </div>

                                        <ng-container class="flight__travel-time" *ngIf="first">
                                            <div>{{ flightOption.TimeToTravel }}</div>
                                            <div *ngIf="trip.length > 1">
                                                {{ trip.length - 1 }} Stop via
                                                {{ trip[0].Destination.Airport.CityName }}
                                            </div>
                                        </ng-container>
                                        <div class="flight__destination" *ngIf="last">
                                            <div class="flight__fare--rules">
                                                <span class="fare-rule">Fare Rules</span>
                                                <span class="ref-noref"
                                                    *ngIf="flightOption.IsRefundable">Refundable</span>
                                            </div>
                                            <div class="flight__source--depart-time">
                                                {{ moment(flight.Destination.ArrTime).format('HH:mm') }}
                                            </div>
                                            <div class="flight__source--depart-city">
                                                {{ flight.Destination.Airport.CityName }}
                                            </div>
                                            <div class="flight__source-city-code">
                                                ({{ flight.Destination.Airport.CityCode }})
                                            </div>
                                        </div>
                                    </ng-container>

                                </ng-container>
                            </div>
                            <div class="flight__price col-2">
                                <div class="price">₹ {{ flightOption.Fare.OfferedFare }}</div>
                                <div class="book-now">
                                    <button mat-raised-button color="primary" routerLink="/dashboard/flights/review">
                                        Book now
                                    </button>
                                </div>
                                <div class="flight-detail">
                                    <a href="javascipt:void()">Flight Details</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="skeleton-screen row" *ngIf="loading">
                    <!--   -->
                    <div class="flight col-12" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
                        <div class="flight__icon">
                            <div class="line"></div>
                        </div>
                        <div class="flight__details">
                            <div class="line"></div>
                        </div>
                        <div class="flight__fare">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="mobile-filters-toggle">
            <ng-content select="[mobile-filter]"></ng-content>
        </div>
    </div>
</div>