@import './scss/respond';
@import './scss/theme';
@import './scss/flex-utilities';
@import './scss/bootstrap-grid';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

@font-face {
  font-family: ClearSans;
  src: url(./assets/fonts/ClearSans-Bold.ttf);
  src: url(./assets/fonts/ClearSans-BoldItalic.ttf);
  src: url(./assets/fonts/ClearSans-Italic.ttf);
  src: url(./assets/fonts/ClearSans-Light.ttf);
  src: url(./assets/fonts/ClearSans-Medium.ttf);
  src: url(./assets/fonts/ClearSans-MediumItalic.ttf);
  src: url(./assets/fonts/ClearSans-Regular.ttf);
  src: url(./assets/fonts/ClearSans-Thin.ttf);
}

@font-face {
  font-family: ClearSans Bold;
  src: url(./assets/fonts/ClearSans-Bold.ttf);
}

@font-face {
  font-family: ClearSans BoldItalic;
  src: url(./assets/fonts/ClearSans-BoldItalic.ttf);
}

@font-face {
  font-family: ClearSans Italic;
  src: url(./assets/fonts/ClearSans-Italic.ttf);
}

@font-face {
  font-family: ClearSans Light;
  src: url(./assets/fonts/ClearSans-Light.ttf);
}

@font-face {
  font-family: ClearSans Medium;
  src: url(./assets/fonts/ClearSans-Medium.ttf);
}

@font-face {
  font-family: ClearSans MediumItalic;
  src: url(./assets/fonts/ClearSans-MediumItalic.ttf);
}

@font-face {
  font-family: ClearSans Regular;
  src: url(./assets/fonts/ClearSans-Regular.ttf);
}

@font-face {
  font-family: ClearSans Thin;
  src: url(./assets/fonts/ClearSans-Thin.ttf);
}

@font-face {
  font-family: OleoScript;
  src: url(./assets/fonts/OleoScript-Regular.ttf);
  src: url(./assets/fonts/OleoScript-Bold.ttf);
}

@font-face {
  font-family: OleoScript Regular;
  src: url(./assets/fonts/OleoScript-Regular.ttf);
}

@font-face {
  font-family: OleoScript Bold;
  src: url(./assets/fonts/OleoScript-Bold.ttf);
}
@font-face {
  font-family: Allura Regular;
  src: url(./assets/fonts/Allura-Regular.otf);
}
@font-face {
  font-family: Brush Script MT Kursiv;
  src: url(./assets/fonts/brush-script-mt-kursiv.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Medium.otf);
  src: url(./assets/fonts/Montserrat-Regular.otf);
  src: url(./assets/fonts/Montserrat-ExtraBold.otf);
  src: url(./assets/fonts/Montserrat-Bold.otf);
  src: url(./assets/fonts/Montserrat-SemiBold.otf);
  src: url(./assets/fonts/Montserrat-Light.otf);
 
}
@font-face {
  font-family: Montserrat Medium;
  src: url(./assets/fonts/Montserrat-Medium.otf);
}
@font-face {
  font-family: Montserrat Regular;
  src: url(./assets/fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: Montserrat ExtraBold;
  src: url(./assets/fonts/Montserrat-ExtraBold.otf);
}
@font-face {
  font-family: Montserrat Bold;
  src: url(./assets/fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: Montserrat SemiBold;
  src: url(./assets/fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: Montserrat Light;
  src: url(./assets/fonts/Montserrat-Light.otf);
}

.banner.row {
  width: 100%;
  margin: 0;
}