@mixin experiva-hotel-detail($theme) {
  .experiva-hotel-detail {
	margin-top:0;
	@include respond (tab-land)
	{
		margin-top:5%;
	}
	@include respond (desktop)
	{
		margin-top:5%;
	}
	.gallery-img
	{
		display:block;
		@include respond (tab-land)
		{
			display:none;
		}
		@include respond (desktop)
		{
			display:none;
		}
		.img-responsive
		{
			height:250px;
			width:100%;
			max-width:100%;
			object-fit:cover;
		}
	}
	  .breadcrumb
	  {
		margin-bottom:30px;
		display:none;
		@include respond (tab-land)
		{
			display:block;
		}
		@include respond (desktop)
		{
			display:block;
		}
		ul
		{
			display:flex;
			li
			{
				font-family:Montserrat Regular;
				color:#373737;
				font-size:14px;
				letter-spacing: 0.5px;
				margin-right: 5px;
				a
				{
					color:#992582;
					text-decoration:none;
				}
				svg
				{
					height:1.2rem;
					width:1.2rem;
					fill:#373737;
				}
			}
		}
	  }
	  .res-none
	  {
		display:none;
		@include respond (tab-land)
		{
			display:flex;
		}
		@include respond (desktop)
		{
			display:flex;
		}
	  }
	  .album
	  {
		.col-md-7
		{
			padding-right:5px;
			.left
			{
				.img-responsive
				{
					height:auto;
					width:100%;
					max-width:100%;
					object-fit:cover;
					border-radius:4px;
					max-height:290px;
				}
				position:relative;
				h5
				{
					position:absolute;
					bottom:15px;
					left:20px;
					font-family:Montserrat Bold;
					font-size:14px;
					letter-spacing: 0.2px;
					a
					{
						color:#FFF;
						text-decoration:none;
						svg
						{
							width: 1.5rem;
							height: 0.8rem;
							fill: #FFFFFF;
						}
					}
				}
			}
		}
		.col-md-5
		{
			padding-left:5px;
			.right-top
			{
				margin-bottom: 5px;
				.img-responsive
				{
					height:auto;
					width:100%;
					max-width:100%;
					object-fit:cover;
					border-radius:4px;
					max-height:203px;
				}
				h5
				{
					color:#FFF;
					position:absolute;
					bottom:15px;
					left:30px;
					font-family:Montserrat Bold;
					font-size:12px;
					letter-spacing: 0.2px;
				}
			}
			.plr-0
			{
				padding-left:0px;
				padding-right:0px;
				display:flex;
				.pr-5
				{
					padding-right:5px;
					.right-left
					{
						.img-responsive
						{
							height:200px;
							width:100%;
							max-width:100%;
							object-fit:cover;
							border-radius:4px;
							max-height:77px;
						}
					}
				}
				.pl-5
				{
					padding-left:5px;
					.right-right
					{
						.img-responsive
						{
							height:auto;
							width:100%;
							max-width:100%;
							object-fit:cover;
							border-radius:4px;
							max-height:77px;
						}
					}
				}
			}
		}
	  }
	  .room-price
	  {
		border:1px solid #EEE;
		padding: 12px 15px;
		margin-bottom:15px;
		h5
		{
			color:#302E30;
			font-family:Montserrat SemiBold;
			margin-bottom: 15px;
			font-size:16px;
		}
		.pr-5
		{
			padding-right:5px;
			.side-left
			{
				ul
				{
					li
					{
						font-family:Montserrat Medium;
						font-size:12px;
						margin-bottom:5px;
						color:#72913D;
						svg
						{
							width:1rem;
							height:1rem;
							fill:#72913D;
							float:left;
							margin-right:5px;
						}
					}
					li.red
					{
						color:#E55555;
					}
				}
			}
		}
		.pl-5
		{
			padding-left:5px;
			.side-right
			{
				text-align:right;
				.price
				{
					font-family:Montserrat Bold;
					color:#3B3939;
					font-size:20px;
				}
				p
				{
					font-family: Montserrat Light;
					color:#858585;
					font-size:12px;
				}
			}
		}
		.booking
		{
			border-top:1px solid #DDD;
			padding-top:15px;
			text-align:right;
			margin-top: 13px;
			.booking-btn
			{
				background: #F44820;
				border-radius: 2px;
				padding: 5px 12px;
				font-size: 12px;
				color: #FFF;
				border: 1px solid #F44820;
				font-family:Montserrat Regular;
			}
		}
	  }
	  .guest-said
	  {
		border:1px solid #EEE;
		padding: 12px 15px 8px;
		.header
		{
			display:flex;
			justify-content: space-between;
			.title
			{
				h4
				{
					font-family:Montserrat SemiBold;
					font-size:20px;
					margin-bottom:2px;
					color:#535353;
				}
				p
				{
					font-family:Montserrat Regular;
					font-size:12px;
					color:#818181;
				}
			}
			.rating
			{
				.rating-box
				{
					background:#75B214;
					font-family:Montserrat Bold;
					font-size:14px;
					padding:5px 10px;
					border-radius:2px;
					color:#FFF;
				}
			}
		}
		.list
		{
			padding: 12px 10px 0px;
			ul
			{
				display:flex;
				flex-wrap:wrap;
				li
				{
					font-family:Montserrat Regular;
					font-size:12px;
					color:#424242;
					flex:0 0 50%;
					margin-bottom:7px;
					svg
					{
						height:1rem;
						width:1rem;
						fill:#424242;
						float:left;
						margin-right:5px;
					}
				}
			}
		}
	  }
	  .hotel-description
	  {
		margin-bottom: 0px;
		margin-top: -70px;
		background: #FFF;
		z-index: 1;
		position: relative;
		padding: 20px;
		border-radius: 10px;
		box-shadow:0px 0px 17px 1px rgba(0,0,0,0.1);
		@include respond (tab-land)
		{
			margin-top:30px;
			margin-bottom: 30px;
			background:transparent;
			padding:0;
			border-radius:0;
		}
		@include respond (desktop)
		{
			margin-top:30px;
			margin-bottom: 30px;
			background:transparent;
			padding:0;
			border-radius:0;
		}
		h2
		{
			font-family:Montserrat Bold;
			color:#33362F;
			font-size:22px;
			@include respond (tab-land)
			{
				font-size:30px;
			}
			@include respond (desktop)
			{
				font-size:30px;
			}
			svg
			{
				height:1.4rem;
				width:1.4rem;
				fill:#F1B209;
				@include respond (tab-land)
				{
					height:1.2rem;
					width:1.2rem;
				}
				@include respond (desktop)
				{
					height:1.2rem;
					width:1.2rem;
				}
			}
			.grey
			{
				fill:#D6D6D6;
			}
		}
		.address
		{
			font-family:Montserrat Regular;
			color:#949494;
			font-size:14px;
			letter-spacing:0.2px;
			@include respond (tab-land)
			{
				font-size:13px;
				letter-spacing:0px;
			}
			@include respond (desktop)
			{
				font-size:13px;
				letter-spacing:0px;
			}
		}
		
		.facilities-box
		{
			padding:15px 0px;
			margin-top:10px;
			margin-bottom:0px;
			.facilities
			{
				display:flex;
				justify-content:space-between;
				.facilities-name
				{
					display: flex;
					align-items: center;
					font-family:Montserrat Regular;
					font-weight: 600;
					color:#2c2c2c;
					margin-bottom: 10px;
					svg
					{
						width:1.5rem;
						height:1.5rem;
						fill:#646767;
						float:left;
						margin-right: 10px;
					}
				}
			}
		}
		.view-amenities
		{
		    width: 120px;
			a
			{
				color:#f44820;
				font-family:Montserrat Medium;
				font-size:14px;
				text-decoration:none;
				svg
				{
					height:1.3rem;
					width:1.3rem;
					fill:#f44820;
					float:right;
				}
			}
		}
		.content
		{
			margin-top: 20px;
			p
			{
				font-family:Montserrat Regular;
				font-size:12px;
				letter-spacing:0.3px;
				color:#757575;
				line-height: 22px;
				text-align:center;
			}
		}
	  }
	  .modification
	  {
		background: #DDD;
		padding: 15px 10px;
		.modi-list
		{
			display:flex;
			justify-content:space-between;
			.modify
			{
				color:#f44820;
				text-align:right;
			}
		}
	  }
	  .guest
	  {
		margin-top:20px;
		.guest-said
		  {
			border:1px solid #EEE;
			padding: 12px 15px 8px;
			.header
			{
				display:flex;
				justify-content: space-between;
				.title
				{
					h4
					{
						font-family:Montserrat SemiBold;
						font-size:20px;
						margin-bottom:2px;
						color:#535353;
					}
					p
					{
						font-family:Montserrat Regular;
						font-size:12px;
						color:#818181;
					}
				}
				.rating
				{
					.rating-box
					{
						background:#75B214;
						font-family:Montserrat Bold;
						font-size:14px;
						padding:5px 10px;
						border-radius:2px;
						color:#FFF;
					}
				}
			}
			.list
			{
				padding: 12px 10px 0px;
				ul
				{
					display:flex;
					flex-wrap:wrap;
					li
					{
						font-family:Montserrat Regular;
						font-size:12px;
						color:#424242;
						flex:0 0 50%;
						margin-bottom:7px;
						svg
						{
							height:1rem;
							width:1rem;
							fill:#424242;
							float:left;
							margin-right:5px;
						}
					}
				}
			}
		  }
	  }
	  .tabs
	  {
		.mat-tab-label
		{
			opacity:1;
			text-transform:uppercase;
		}
		.mat-tab-label-active
		{
			.mat-tab-label-content
			{
				color:#f44820;
				font-family:Montserrat Bold;
			}
		}
		.mat-tab-label-content
		{
			color:#616161;
			font-family:Montserrat Bold;
		}
		.table
		{
			width: 100%;
			max-width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
			border:1px solid #eee;
			border-collapse: collapse;
			border-spacing: 0;
			tr
			{
				th
				{
					border: 1px solid #eee;
					vertical-align: middle;
					padding: 8px;
					line-height: 1.42857143;
					text-align: center;
					background:#faf9f9;
					font-family:Montserrat Medium;
					color:#696868;
					font-size: 12px;
					text-transform: uppercase;
				}
				td
				{
					border: 1px solid #eee;
					padding: 15px;
					line-height: 1.42857143;
					vertical-align: middle;
					font-size: 14px;
					strong
					{
						font-family:Montserrat Bold;
						color:#454545;
						display:block;
						text-align:center;
						margin-bottom: 10px;
					}
					.img-responsive
					{
						height: 140px;
						width: 100%;
						object-fit: cover;
					}
					.room-aninities
					{
						margin-top:20px;
						li
						{
							font-family:Montserrat Regular;
							color:#8f8f8f;
							font-size:12px;
							margin-bottom:15px;
							svg
							{
								height:1.1rem;
								width:1.1rem;
								fill:#8f8f8f;
								margin-right: 10px;
								float: left;
							}
						}
						.more-about
						{
							a
							{
								font-family:Montserrat Bold;
								color:#f44820;
								font-size:12px;
								text-transform:uppercase;
								letter-spacing:0.4px;
								text-decoration:none;
								margin-left: 28px;
								svg
								{
									height:0.7rem;
									width:0.7rem;
									fill:#f44820;
									margin-left: 5px;
								}
							}
						}
					}
					.option-ul
					{
						li
						{
							font-family:Montserrat Medium;
							font-size:12px;
							color:#3c955c;
							margin-bottom:10px;
							.option-text
							{
								color:#575757;
								text-transform:uppercase;
								font-family:Montserrat Medium;
								font-size:12px;
							}
							.recommended
							{
								background:#f44820;
								color:#FFF;
								font-family:Montserrat Medium;
								font-size: 10px;
								border-radius: 10px;
								padding: 3px 10px;
								margin-left: 10px;
								text-transform:uppercase;
							}
							svg
							{
								height:1.1rem;
								width:1.1rem;
								fill:#3c955c;
								margin-right: 10px;
								float: left;
							}
							a
							{
								color:#51abe5;
								font-family:Montserrat Medium;
								font-size:12px;
								text-decoration:none;
								margin-left: 28px;
							}
						}
						.red-li
						{
							color:#b32815;
							svg
							{
								height:1.1rem;
								width:1.1rem;
								fill:#b32815;
								margin-right: 10px;
								float: left;
							}
						}
						li:last-child
						{
							margin-bottom:0px;
						}
					}
					.include-price
					{
						li
						{	
							font-family:Montserrat Regular;
							font-size:12px;
							color:#5a5a5a;
							margin-bottom:10px;
							svg
							{
								height:1.1rem;
								width:1.1rem;
								fill:#5a5a5a;
								margin-right: 10px;
								float: left;
							}
						}
						li:last-child
						{
							margin-bottom:0px;
						}
					}
					.deal-price
					{
						text-align:center;
						li
						{
							.deal
							{
								background:#f2fcfb;
								font-family:Montserrat Medium;
								color:#8a968e;
								border-radius: 20px;
								padding: 7px 20px;
								font-size:10px;
								text-transform:uppercase;
							}
						}
					}
					.price-box
					{
						display:flex;
						flex-wrap:wrap;
						justify-content: space-around;
						margin-top:30px;
						.price
						{
							text-align:right;
							.rupee
							{
								font-family:Montserrat ExtraBold;
								color:#393e45;
								font-size:22px;
							}
							.night
							{
								font-family:Montserrat Regular;
								color:#7a7a7a;
								font-size:11px;
							}
						}
						.room-button
						{
							display: flex;
							align-items: center;
							.btn-select
							{
								font-family:Montserrat Bold;
								font-size:12px;
								background:#f44820;
								border:1px solid #f44820;
								border-radius:15px;
								padding:6px 20px;
								text-transform:uppercase;
								color:#FFF;
								cursor:pointer;
							}
						}
					}
				}
			}
		}
		.facilities
		{
			margin-top: 30px;
			margin-bottom: 30px;
			padding-left:15px;
			padding-right:15px;
			.facilities-heading
			{
				display:flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				.facilities-title
				{
					h2
					{
						color:#3a3d40;
						font-family:Montserrat SemiBold;
						font-size:22px;
						margin-bottom:3px;
					}
					p
					{
						font-family:Montserrat Light;
						color:#83868b;
						font-size:12px;
						letter-spacing: 0.5px;
						span
						{
							font-family:Montserrat Medium;
							color:#009b8e;
						}
					}
				}
				.view-amenities
				{
					a
					{
						color:#f44820;
						font-family:Montserrat Medium;
						font-size:14px;
						text-decoration:none;
						svg
						{
							height:1.3rem;
							width:1.3rem;
							fill:#f44820;
							float:right;
						}
					}
				}
			}
			.facilities-box
			{
				border:1px solid #DDD;
				padding:15px 20px;
				margin-top:30px;
				margin-bottom:50px;
				display:flex;
				justify-content:space-between;
				.wifi
				{
					display: flex;
					align-items: center;
					font-family:Montserrat Regular;
					font-weight: 600;
					color:#2c2c2c;
					svg
					{
						width:2rem;
						height:2rem;
						fill:#646767;
						float:left;
						margin-right: 15px;
					}
				}
				.pool
				{
					display: flex;
					align-items: center;
					font-family:Montserrat Regular;
					font-weight: 600;
					color:#2c2c2c;
					svg
					{
						width:2rem;
						height:2rem;
						fill:#646767;
						float:left;
						margin-right: 15px;
					}
				}
				.parking
				{
					display: flex;
					align-items: center;
					font-family:Montserrat Regular;
					font-weight: 600;
					color:#2c2c2c;
					svg
					{
						width:2rem;
						height:2rem;
						fill:#646767;
						float:left;
						margin-right: 15px;
					}
				}
				.room
				{
					display: flex;
					align-items: center;
					font-family:Montserrat Regular;
					font-weight: 600;
					color:#2c2c2c;
					svg
					{
						width:2rem;
						height:2rem;
						fill:#646767;
						float:left;
						margin-right: 15px;
					}
				}
			}
			.amenities-list
			{
				display:flex;
				justify-content:space-between;
				h4
				{
					font-family:Montserrat Medium;
					font-size:14px;
					color:#373939;
					text-transform:uppercase;
					margin-bottom: 15px;
				}
				ul
				{
					li
					{
						font-family:Montserrat Regular;
						color:#646767;
						font-size:13px;
						margin-bottom:8px;
						svg
						{
							height:1.2rem;
							width:1.2rem;
							fill:#3c955c;
							float:left;
							margin-right:10px;
						}
					}
				}
			}
		}
		.location
		{
			margin-top:30px;
			margin-bottom:30px;
			h4
			{
				color: #3a3d40;
				font-family: Montserrat SemiBold;
				font-size: 22px;
				margin-bottom: 20px;
			}
			.location-box
			{
				display:flex;
				.location-list
				{
					border:1px solid #DDD;
					padding:20px 10px 5px;
					width:27%;
					.marker
					{
						font-family:Montserrat Regular;
						color:#434c4e;
						font-size:12px;
						text-transform:uppercase;
						display: flex;
						align-items: center;
						svg
						{
							height:2rem;
							width:2rem;
							fill:#3c955c;
							float:left;
							margin-right:10px;
						}
					}
					.button
					{
						margin: 20px 0px;
						justify-content: center;
						display: flex;
						button
						{
							.mat-button-toggle-label-content
							{
								font-family:Montserrat Regular;
								font-size: 10px;
								text-transform: uppercase;
								line-height: 36px;
							}
						}
						.mat-button-toggle-group-appearance-standard
						{
							border-radius:0px;
							border:none;
						}
						.mat-button-toggle-appearance-standard:first-child
						{
							border-radius:20px 0px 0px 20px;
						}
						.mat-button-toggle-appearance-standard:last-child
						{
							border-radius:0px 20px 20px 0px;
							border-left:0px;
						}
						.mat-button-toggle-appearance-standard
						{
							color:#f44820;
							border:solid 1px #f44820;
						}
						.mat-button-toggle-checked
						{
							background:#f44820;
							color:#FFF;
						}
					}
					.hotel-list
					{
						border-bottom: 1px solid #DDD;
						padding-bottom: 10px;
						margin-bottom: 10px;
						.hotel-details
						{
							display:flex;
							justify-content:space-between;
							padding-bottom: 3px;
							align-items: center;
							.hotel-img
							{
								.img-responsive
								{
									height:60px;
									width:80px;
									max-width:100%;
									object-fit:cover;
								}
							}
							.hotel-name
							{
								.hotel-rating
								{
									display:flex;
									justify-content:space-evenly;
									margin-bottom: 5px;
									align-items: center;
									span
									{
										color:#3c955c;
										font-size:12px;
										font-family:Montserrat Medium;
									}
									span.bg
									{
										background:#3c955c;
										color:#FFF;
										font-size:10px;
										border-radius:10px;
										padding:3px 10px;
										margin-right:10px;
									}
								}
								.name
								{
									font-family:Montserrat Medium;
									margin-bottom: 3px;
									font-size:14px;
									color:#4a4d4f;
									text-transform:uppercase;
								}
								.star
								{
									svg
									{
										fill: #F1B209;
										height:1.2rem;
										width:1.2rem;
									}
								}
							}
							.hotel-price
							{
								font-family:Montserrat SemiBold;
								color:#000;
								font-size:20px;
							}
						}
						.addr
						{
							font-family:Montserrat Regular;
							color:#999;
							font-size:9px;
						}
					}
					.hotel-list:last-child
					{
						margin-bottom:0px;
						border-bottom: 0px;
					}
				}
				.map
				{
					width:73%;
				}
			}
		}
		.policies
		{
			margin-top:30px;
			margin-bottom:30px;
			.impo-info
			{
				margin-bottom:20px;
				h2
				{
					color: #3a3d40;
					font-family: Montserrat SemiBold;
					font-size: 18px;
					margin-bottom: 5px;
				}
				p
				{
					font-family:Montserrat Regular;
					font-size:12px;
				}
			}
			.house-rules
			{
				h2
				{
					color: #3a3d40;
					font-family: Montserrat SemiBold;
					font-size: 18px;
					margin-bottom: 5px;
				}
				ul
				{
					display:flex;
					justify-content: space-between;
					list-style: disc;
					li
					{
						font-family:Montserrat Regular;
						font-size:12px;
						color:#434c4e;
					}
				}
			}
		}
	  }
  }
}
