<div class="experiva-hotel-detail">
	<div class="gallery-img">
		<img src="assets/images/hotel-gallery.jpg" class="img-responsive">
	</div>
	<div class="container content">
		<div class="row">
			<div class="col-12 col-md-12">
				<div class="breadcrumb">
					<ul>
						<li><a href="javascript:void()">Home</a></li>
						<li>
							<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-keyboard_arrow_right"
							></use></svg>
						</li>
						<li><a href="javascript:void()">Hotels in Amritsar</a></li>
						<li>
							<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-keyboard_arrow_right"
							></use></svg>
						</li>
						<li>Ramada Amritsar</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row res-none">
			<div class="col-8 col-md-8">
				<div class="album">
					<div class="row">
						<div class="col-7 col-md-7">
							<div class="left">
								<img src="assets/images/hotel-gallery.jpg" class="img-responsive">
								<h5>
									<a href="javascript:void()">View All 21 Photos 
										<svg>
											<use xlink:href="./assets/images/home-sprite.svg#icon-arrow-right"></use>
										</svg>
									</a>
								</h5>
							</div>
						</div>
						<div class="col-5 col-md-5">
							<div class="row">
								<div class="col-12 col-md-12">
									<div class="right-top">
										<img src="assets/images/hotel-gallery1.jpg" class="img-responsive">
										<h5>Room Images</h5>
									</div>
								</div>
								<div class="col-12 col-md-12 plr-0">
									<div class="col-6 col-md-6 pr-5">
										<div class="right-left">
											<img src="assets/images/hotel-gallery2.jpg" class="img-responsive">
										</div>
									</div>
									<div class="col-6 col-md-6 pl-5">
										<div class="right-right">
											<img src="assets/images/hotel-map.jpg" class="img-responsive">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="room-price">
					<h5>Standard Double Room</h5>
					<div class="row">
						<div class="col-6 col-md-6 pr-5">
							<div class="side-left">
								<ul>
									<li class="red"><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Non Refundable</li>
									<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Room Only</li>
								</ul>
							</div>
						</div>
						<div class="col-6 col-md-6 pl-5">
							<div class="side-right">
								<div class="price">INR 6,429</div>
								<p>per night</p>
							</div>
						</div>
					</div>
					<div class="booking">
						<button type="button" class="btn booking-btn">Book this now</button>
					</div>
				</div>
				<div class="guest-said">
					<div class="header">
						<div class="title">
							<h4>What Guests Said</h4>
							<p>Based on 2803 Reviews</p>
						</div>
						<div class="rating">
							<div class="rating-box">4.2</div>
						</div>
					</div>
					<div class="list">
						<ul>
							<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Good Location</li>
							<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Courteous Staff</li>
							<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Good Food</li>
							<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Good Room</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<section class="hotel-description">
			<div class="row">
				<div class="col-12 col-md-12">
					<h2>Ramada Amritsar
						<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-star"
							></use>
						</svg>
						<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-star"
							></use>
						</svg>
						<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-star"
							></use>
						</svg>
						<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-star"
							></use>
						</svg>
						<svg class="grey">
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-star"
							></use>
						</svg>
					</h2>
					<div class="address">117/1 Hall Bazaar, inside Hall Gate</div>
				</div>
				<div class="col-12 col-md-12">
					<div class="facilities-box">
						<div class="facilities">
							<div class="facilities-name wifi">
								<svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-wifi"
									></use>
								</svg>
								Free Wi-Fi
							</div>
							<div class="facilities-name pool">
								<svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								</svg>
								Swimming Pool
							</div>
						</div>
						<div class="facilities">
							<div class="facilities-name parking">
								<svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-car"
									></use>
								</svg>
								Free Parking
							</div>
							<div class="facilities-name room">
								<svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-refresh"
									></use>
								</svg>
								24-hour Room &nbsp;<br>Service
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-md-12">
					<div class="view-amenities">
						<a href="javascript:void()">All Amenities 
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-keyboard_arrow_right"
								></use>
							</svg>
						</a>
					</div>
				</div>
				
				<div class="col-10 col-md-10 res-none" style="margin:0 auto;">
					<div class="content">
						<p>When the warmth and quality of Ramada Worldwide joins hand with Punjabs renowned hospitality, you can be assured that your experience at Ramada Amritsar will be exceedingly special. Hotel is conveniently located in the walled city in proximity of 1KM to the Golden Temple,1.5 KM from Railway Station and 12 KM from Sri Guru Ramdas Ji International Airport.Ramada Amritsar is 4 star Govt. Recognized hotel with 144 guest room. These rooms are accompanied with cordial room facilities which comprise of 24 hrs frontdesk, 24hr in room dining, free wi-fi, packaged drinking water, Tea- Coffee maker, in room digital safe, bathroom amenities and daily newspaper. The hotel has one Multi-Cuisine restaurant AL Fresco, a Coffee Shop Kaffee Avanti and several confrencing & banqueting venues to cater minimun 15 upto 400 guests.</p>
					</div>
				</div>
			</div>
		</section>
		
		<section class="modification">
			<div class="row">
				<div class="col-12 col-md-12">
					<div class="modi-list">
						<div class="date">14 Sept - 16 Sept</div>
						<div class="room">2 Room</div>
						<div class="adult">2 Adult</div>
						<div class="modify">Modify</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="guest">
			<div class="row">
				<div class="col-12 col-md-12">
					<div class="guest-said">
						<div class="header">
							<div class="title">
								<h4>What Guests Said</h4>
								<p>Based on 2803 Reviews</p>
							</div>
							<div class="rating">
								<div class="rating-box">4.2</div>
							</div>
						</div>
						<div class="list">
							<ul>
								<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Good Location</li>
								<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Courteous Staff</li>
								<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Good Food</li>
								<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Good Room</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="tabs res-none">
			<div class="row">
				<div class="col-12 col-md-12">
					<mat-tab-group>
						<mat-tab label="Rooms">
							<table class="table">
								<tr>
									<th>Room Type</th>
									<th>Options</th>
									<th>Include in This Price</th>
									<th width="35%">Price</th>
								</tr>
								<tr>
									<td rowspan="3">
										<strong>Standard Double Room</strong>
										<img src="/assets/images/hotel1.jpg" class="img-responsive">
										<div class="room-aninities">
											<ul>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Room Size: 225.0 sq. ft.</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Bed Type: double</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> 24-hour Room Service</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Air Conditioning (Room controlled)</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Wi-Fi</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Electric Kettle</li>
											</ul>
											<div class="more-about">
												<a href="javascript:void()">More About This Room
													<svg>
													<use
													  xlink:href="./assets/images/home-sprite.svg#icon-arrow-right"
													></use></svg>
												</a>
											</div>
										</div>
									</td>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option</span><span class="recommended">Recommended</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-single_bed"></use>
												</svg> Room Only</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation only</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 2,400</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option 2</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-local_cafe"></use>
												</svg> Breakfast</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Free Breakfast</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 3,400</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option 3</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-dinner_dining"></use>
												</svg> 2 Meals - Breakfast & Lunch or Dinner</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Free Breakfast & Dinner</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 4,321</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
								
								<tr>
									<td rowspan="3">
										<strong>Deluxe</strong>
										<img src="/assets/images/hotel.jpg" class="img-responsive">
										<div class="room-aninities">
											<ul>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Room Size: 310.0 sq. ft.</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Bed Type: double</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Room Service</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Air Conditioning (Room controlled)</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Wi-Fi</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Electric Kettle</li>
											</ul>
											<div class="more-about">
												<a href="javascript:void()">More About This Room
													<svg>
													<use
													  xlink:href="./assets/images/home-sprite.svg#icon-arrow-right"
													></use></svg>
												</a>
											</div>
										</div>
									</td>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option</span><span class="recommended">Recommended</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-single_bed"></use>
												</svg> Room Only</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation only</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 4,754</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option 2</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-local_cafe"></use>
												</svg> Breakfast</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Free Breakfast</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 5,925</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option 3</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-dinner_dining"></use>
												</svg> 2 Meals - Breakfast & Lunch or Dinner</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Free Breakfast & Dinner</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 6,845</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
								
								
								
								<tr>
									<td rowspan="2">
										<strong>Executive</strong>
										<img src="/assets/images/hotel.jpg" class="img-responsive">
										<div class="room-aninities">
											<ul>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Bed Type: King</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Room Service</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Air Conditioning (Room controlled)</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Wi-Fi</li>
												<li><svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Electric Kettle</li>
											</ul>
											<div class="more-about">
												<a href="javascript:void()">More About This Room
													<svg>
													<use
													  xlink:href="./assets/images/home-sprite.svg#icon-arrow-right"
													></use></svg>
												</a>
											</div>
										</div>
									</td>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option 1</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-single_bed"></use>
												</svg> Room Only</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation only</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 5,560</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<ul class="option-ul">
											<li>
												<span class="option-text">Option 2</span>
											</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-dinner_dining"></use>
												</svg> 2 Meals - Breakfast & Lunch or Dinner</li>
											<li class="red-li">
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-creative-commons-noncommercial-us"></use>
												</svg> Non-refundable</li>
											<li><a href="javascript:void">Read more</a></li>
										</ul>
									</td>
									<td>
										<ul class="include-price">
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Free Breakfast & Dinner</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Accommodation</li>
											<li>
												<svg>
													<use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use>
												</svg> Local ID proof is not accepted at this property.</li>
										</ul>
									</td>
									<td width="35%">
										<ul class="deal-price">
											<li><span class="deal">Deal Applied: Todayoffd2. you get flat INR 396.0 Off!</span></li>
											<li></li>
										</ul>
										<div class="price-box">
											<div class="price">
												<div class="rupee">₹ 6,463</div>
												<div class="night">per night</div>
											</div>
											<div class="room-button">
												<button type="button" class="btn btn-select">Select Room</button>
											</div>
										</div>
									</td>
								</tr>
							</table>
						</mat-tab>
						<mat-tab label="Facilities">
							<div class="facilities">
								<div class="facilities-heading">
									<div class="facilities-title">
										<h2>Facilities at Ramada Amritsar</h2>
										<p>Facilities here have been<span> rated 4.2 by 3540 guests</span></p>
									</div>
									
									<div class="view-amenities">
										<a href="javascript:void()">All Amenities 
											<svg>
												<use
												  xlink:href="./assets/images/home-sprite.svg#icon-keyboard_arrow_right"
												></use>
											</svg>
										</a>
									</div>
								</div>
								
								<div class="facilities-box">
									<div class="wifi">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-wifi"
											></use>
										</svg>
										Free Wi-Fi
									</div>
									<div class="pool">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-pool"
											></use>
										</svg>
										Swimming Pool
									</div>
									<div class="parking">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-car"
											></use>
										</svg>
										Free Parking
									</div>
									<div class="room">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-refresh"
											></use>
										</svg>
										24-hour Room Service
									</div>
								</div>
								<div class="amenities-list">
									<div class="food">
										<h4>Food and Drinks</h4>
										<ul>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Restaurant</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Dining Area</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Coffee Shop</li>
										</ul>
									</div>
									<div class="safety">
										<h4>Safety and Security</h4>
										<ul>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> CCTV</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Fire Extinguishers</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> 24-hour Security</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> In-room Safe</li>
										</ul>
									</div>
									<div class="general">
										<h4>General Services</h4>
										<ul>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Wheelchair</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Butler Services</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Mail Services</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Doctor on Call</li>
										</ul>
									</div>
									<div class="common">
										<h4>Common Area</h4>
										<ul>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Sun Deck</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Reception</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Seating Area</li>
										</ul>
									</div>
									<div class="common">
										<h4>Business Center</h4>
										<ul>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Conference Room</li>
											<li><svg><use xlink:href="./assets/images/home-sprite.svg#icon-check1"></use></svg> Banquest</li>
										</ul>
									</div>
								</div>
							</div>
						</mat-tab>
						<mat-tab label="Location">
							<div class="location">
								<h4>Location</h4>
								<div class="location-box">
									<div class="location-list">
										<div class="marker"><svg><use xlink:href="./assets/images/home-sprite.svg#icon-location"></use></svg> Around Ramada Amritsar</div>
										<div class="button">
											<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
												<mat-button-toggle value="Nearby Hotels">Nearby Hotels</mat-button-toggle>
												<mat-button-toggle value="Points of Interest">Points of Interest</mat-button-toggle>
											</mat-button-toggle-group>
										</div>
										<div class="hotel-list">
											<div class="hotel-details">
												<div class="hotel-img">
													<img src="assets/images/hotel-gallery.jpg" class="img-responsive">
												</div>
												<div class="hotel-name">
													<div class="hotel-rating">
														<span class="bg">5.0/5</span>
														<span>Excellent</span>
													</div>
													<div class="name">
														<h5>Soni Guest house</h5>
													</div>
													<div class="star">
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
													</div>
												</div>
												<div class="hotel-price">
													<div class="price">₹ 898</div>
												</div>
											</div>
											<div class="addr">Hall Bazar | 100% match : 90.9 m from Ramada Amritsar</div>
										</div>
										
										<div class="hotel-list">
											<div class="hotel-details">
												<div class="hotel-img">
													<img src="assets/images/hotel-gallery1.jpg" class="img-responsive">
												</div>
												<div class="hotel-name">
													<div class="hotel-rating">
														<span class="bg">5.0/5</span>
														<span>Excellent</span>
													</div>
													<div class="name">
														<h5>Forever View</h5>
													</div>
													<div class="star">
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
													</div>
												</div>
												<div class="hotel-price">
													<div class="price">₹ 1290</div>
												</div>
											</div>
											<div class="addr">Near Golden Temple, Opp. RS Tower, hall bazar, Amritsar</div>
										</div>
										
										<div class="hotel-list">
											<div class="hotel-details">
												<div class="hotel-img">
													<img src="assets/images/hotel-gallery2.jpg" class="img-responsive">
												</div>
												<div class="hotel-name">
													<div class="hotel-rating">
														<span class="bg">5.0/5</span>
														<span>Excellent</span>
													</div>
													<div class="name">
														<h5>The Landmark</h5>
													</div>
													<div class="star">
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
													</div>
												</div>
												<div class="hotel-price">
													<div class="price">₹ 757</div>
												</div>
											</div>
											<div class="addr">Near Golden Temple, Ghee Mandi Chowk, Amritsar</div>
										</div>
										
										<div class="hotel-list">
											<div class="hotel-details">
												<div class="hotel-img">
													<img src="assets/images/hotel-gallery.jpg" class="img-responsive">
												</div>
												<div class="hotel-name">
													<div class="hotel-rating">
														<span class="bg">5.0/5</span>
														<span>Excellent</span>
													</div>
													<div class="name">
														<h5>The Regal</h5>
													</div>
													<div class="star">
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
														<svg><use xlink:href="./assets/images/home-sprite.svg#icon-star"></use></svg>
													</div>
												</div>
												<div class="hotel-price">
													<div class="price">₹ 1325</div>
												</div>
											</div>
											<div class="addr">Near Golden Temple, Ghee Mandi Chowk, Amritsar</div>
										</div>
									</div>
									
									<div class="map">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15142664.823300784!2d71.42226975494778!3d22.09012146560802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39197cab16a243ff%3A0x79a52faaeb0c50af!2sNetWeb%20Technologies!5e0!3m2!1sen!2sin!4v1577428985012!5m2!1sen!2sin" height="518" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
									</div>
								</div>
							</div>
						</mat-tab>
						<mat-tab label="Policies">
							<div class="policies">
								<div class="impo-info">
									<h2>Important Information</h2>
									<p>Check-in : 2 PM | Check-out : 12 PM</p>
								</div>
								<div class="house-rules">
									<h2>House Rules:</h2>
									<ul>
										<li>Credit/debit cards are accepted</li>
										<li>There are some restrictions on alcohol consumption.. Non-Alcoholic Hotel</li>
										<li>Suitable for children</li>
									</ul>
								</div>
							</div>
						</mat-tab>
						<mat-tab label="Ratings And Reviews">Ratings And Reviews</mat-tab>
					</mat-tab-group>
				</div>
			</div>
		</section>
	</div>
</div>