<div class="experiva-hotels">
  <div class="experiva-search">
    <div class="banner row">
      <img src="./assets/images/hotel-banner.jpg" class="img-responsive" />
      <h3>Hotel Booking</h3>
    </div>
    <form class="search row" [formGroup]="hotelSearchForm">
      <div class="col">
        <mat-form-field>
          <input type="text" placeholder="City, Area or Hotel" matInput formControlName="CityId"
            [matAutocomplete]="hotelDestination">
          <mat-autocomplete #hotelDestination [displayWith]="mapToHotelCitytName">
            <mat-option *ngFor="let city of cities$ | async | filter:destination.valueChanges:filterHotels"
              [value]="city">
              <div class="city-name">{{city.CityName}} </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput formControlName="CheckInDate" [matDatepicker]="checkInPicker" placeholder="Check-in">
          <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
          <mat-datepicker #checkInPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [matDatepicker]="checkOutPicker" placeholder="Check-out">
          <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
          <mat-datepicker #checkOutPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Rooms</mat-label>
          <select matNativeControl>
            <option value="0">No. of Rooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Adults</mat-label>
          <select matNativeControl>
            <option value="0">No. of Adults</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col actions">
        <button _ngcontent-ixy-c140="" mat-raised-button="" color="primary"
          class="mat-raised-button mat-button-base mat-primary modify" ng-reflect-color="primary">
          <span class="mat-button-wrapper"><svg _ngcontent-ixy-c140="">
              <use _ngcontent-ixy-c140="" xlink:href="./assets/images/home-sprite.svg#icon-edit-3"></use>
            </svg> &nbsp; Modify </span>
        </button>
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>
</div>
