@import './hotel-listing/hotel-listing.component.scss';
@import './hotel-detail/hotel-detail.component.scss';
@mixin experiva-hotels($theme) {
  @include experiva-hotel-listing($theme);
  @include experiva-hotel-detail($theme);
  .experiva-hotels {
	.search
	{
		display:none;
		@include respond (tab-land)
		{
			display:none;
		}
		@include respond (desktop)
		{
			display:flex;
		}
		.modify
		{
			padding: 0rem 3rem;
			font-family: ClearSans;
			svg
			{
				height: 1rem;
				width: 1rem;
				fill: #fff;
			}
		}
	}
	
    .banner {
      height: 250px;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin: 0 auto;
      display: none;

      @include respond(tab-land) {
        display: block;
		height:137px;
      }
      @include respond(desktop) {
        display: block;
		height: 250px;
      }
      img {
        object-fit: cover;
      }
      h3 {
        position: absolute;
        top: 34%;
        transform: translateY(-34%);
        left: 12%;
        font-family: ClearSans;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-size: 25px;
        @include respond(tab-land) {
          top: 31%;
          transform: translateY(-31%);
          left: 8%;
        }
        @include respond(desktop) {
          top: 34%;
          transform: translateY(-34%);
        }
      }
    }
  }
}
