@mixin color-helper($theme) {
    $foreground: map-get($map: $theme, $key: foreground);
    $primary: map-get($map: $theme, $key: primary);

    .secondary-text {
        color: mat-color($foreground, secondary-text);
    }

    .primary-text {
        color: mat-color($primary);
    }
}