.flex {
    display: flex;

    &.flex-direction-column {
        flex-direction: column;
    }

    &.flex-align-items-center {
        align-items: center;
    }

    &.flex-justify-content-center {
        justify-content: center;
    }

    &.flex-justify-content-space-between {
        justify-content: space-between;
    }
}