@mixin skeletonScreen($theme) {
    .skeleton-screen {
        .line {
            position: relative;
            height: 1rem;
            width: 100%;
            background: lightgray;

            @keyframes lineAnimation {
                from {
                    width: 1%;
                }

                to {
                    width: 100%;
                }
            }

            &:after {
                content: '';
                position: absolute;
                width: 1%;
                height: 100%;
                background: #c1bdbd;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                animation-name: lineAnimation;
                animation-timing-function: ease-in-out;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-duration: 0.5s;
            }


        }
    }
}