@mixin typography($theme) {
    $primary: map-get($map: $theme, $key: primary);
    $foreground: map-get($map: $theme, $key: foreground);

    .padding-small {
        padding: 1rem;
    }

    .margin-small {
        margin: 1rem;
    }

    .padding-top-small {
        padding-top: 1rem;
    }

    .margin-top-small {
        margin-top: 1rem;
    }

    .padding-bottom-small {
        padding-bottom: 1rem;
    }

    .margin-bottom-small {
        margin-bottom: 1rem;
    }

    .padding-left-small {
        padding-left: 1rem;
    }

    .margin-left-small {
        margin-left: 1rem;
    }

    .padding-right-small {
        padding-right: 1rem;
    }

    .margin-right-small {
        margin-right: 1rem;
    }

    .padding-medium {
        padding: 2rem;
    }

    .margin-medium {
        margin: 2rem;
    }

    .padding-top-medium {
        padding-top: 2rem;
    }

    .margin-top-medium {
        margin-top: 2rem;
    }

    .padding-bottom-medium {
        padding-bottom: 2rem;
    }

    .margin-bottom-medium {
        margin-bottom: 2rem;
    }

    .padding-left-medium {
        padding-left: 2rem;
    }

    .margin-left-medium {
        margin-left: 2rem;
    }

    .padding-right-medium {
        padding-right: 2rem;
    }

    .margin-right-medium {
        margin-right: 2rem;
    }

    .padding-large {
        padding: 4rem;
    }

    .margin-large {
        margin: 4rem;
    }

    .padding-top-large {
        padding-top: 4rem;
    }

    .margin-top-large {
        margin-top: 4rem;
    }

    .padding-bottom-large {
        padding-bottom: 4rem;
    }

    .margin-bottom-large {
        margin-bottom: 4rem;
    }

    .padding-left-large {
        padding-left: 4rem;
    }

    .margin-left-large {
        margin-left: 4rem;
    }

    .padding-right-large {
        padding-right: 4rem;
    }

    .margin-right-large {
        margin-right: 4rem;
    }

    .primary-heading {}

    .secondary-heading {
        color: mat-color($foreground, secondary-text);

    }
}