<div class="experiva-dashboard">
  <div class="brand flex flex-justify-content-center">
    <img src="assets/images/logo.png" alt="Logo" />
  </div>
  <!-- <mat-divider></mat-divider> -->
  <nav class="nav flex flex-justify-content-center">
    <ul class="flex flex-justify-content-center">
      <li class="active" routerLink="/dashboard/home">Home</li>
      <li>Flights</li>
      <li>Hotels</li>
      <li>Blogs</li>
      <li>Services</li>
      <li class="login">Login / Sign Up</li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>