@import './home/home.component.scss';
@import './flights/flights.component.scss';
@import './hotels/hotels.component.scss';

@mixin experiva-dashboard($theme) {
  @include experiva-home($theme);
  @include experiva-flights($theme);
  @include experiva-hotels($theme);
  $primary: map-get(
    $map: $theme,
    $key: primary
  );
  $accent: map-get(
    $map: $theme,
    $key: accent
  );
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .experiva-dashboard {
    .brand {
      height: 2.5rem;
      margin: 1rem;

      @include respond(tab-port) {
        height: 4.5rem;
        margin: 2rem 0 2rem;
      }

      img {
        height: 100%;
      }
    }

    .nav {
      ul {
        overflow: auto;
        display: none;
        white-space: nowrap;

        @include respond(tab-port) {
          display: block;
        }

        li {
          margin: 0 auto;
          border-bottom: 4px solid transparent;
          padding: 0.5rem 2rem;
          display: inline-block;
          color: mat-color($background, base);
          cursor: pointer;
          font-family: ClearSans Regular;

          &.active {
            border-bottom: 4px solid mat-color($primary);
            color: mat-color($primary);
          }

          .login {
            color: mat-color($primary);
          }

          &:last-child {
            margin-left: 0rem;
            color: mat-color($primary);
            font-weight: 600;

            @include respond(desktop) {
              margin-left: 6rem;
            }
          }
        }
      }
    }
  }
}
