<mat-tab-group>
	<mat-tab label="Sort By">
		<mat-nav-list>
		  <a href="javascript:void()" mat-list-item (click)="openLink($event)">
			<span mat-line>Price</span>
			<span mat-line>Cheapest First</span>
		  </a>
		  <a href="javascript:void()" mat-list-item (click)="openLink($event)">
			<span mat-line>Duration</span>
			<span mat-line>Shortest First</span>
		  </a>

		  <a href="javascript:void()" mat-list-item (click)="openLink($event)">
			<span mat-line>Departure Time</span>
			<span mat-line>Earliest First</span>
			<span mat-line>Latest First</span>
		  </a>

		  <a href="javascript:void()" mat-list-item (click)="openLink($event)">
			<span mat-line>Arrival First</span>
			<span mat-line>Earliest First</span>
			<span mat-line>Latest First</span>
		  </a>
		</mat-nav-list>
	</mat-tab>
	<mat-tab label="Filters">
		<mat-nav-list>
			<div class="mob-fil">
			<h5>Departure from Chandigarh</h5>
			<mat-checkbox (change)="filterDepartureTime('Morning', $event.checked)" class="example-margin">
				(00:01 - 11:59) <span class="mor">Morning</span> </mat-checkbox>
			<mat-checkbox (change)="filterDepartureTime('Afternoon', $event.checked)" class="example-margin">
			  (12:00 - 15:59) <span class="mor">Afternoon</span></mat-checkbox>
			<mat-checkbox (change)="filterDepartureTime('Evening', $event.checked)" class="example-margin">
			  (16:00 - 20:59) <span class="mor">Evening</span></mat-checkbox>
			<mat-checkbox (change)="filterDepartureTime('Night', $event.checked)" class="example-margin">
			  (21:00 - 24:00) <span class="mor">Night</span></mat-checkbox>
			  
			<h5>Security</h5>
			
			<mat-checkbox class="example-margin" (change)="filterRefundableFlights(true, $event.checked)">
			  Refundable
			</mat-checkbox>
			<mat-checkbox class="example-margin" (change)="filterRefundableFlights(false, $event.checked)">
			  Non Refundable</mat-checkbox>
			  
			<h5>Stops</h5>
			
			<mat-checkbox class="example-margin" (change)="filterFilghtsByStops(0,$event.checked)"> Direct
			</mat-checkbox>
			<mat-checkbox class="example-margin" (change)="filterFilghtsByStops(1,$event.checked)"> 1 Stop
			</mat-checkbox>
			<mat-checkbox class="example-margin" (change)="filterFilghtsByStops(2,$event.checked)"> 2+ Stops
			</mat-checkbox>
			
			<h5>Preferred Airlines</h5>
			
			<mat-checkbox class="example-margin" (change)="filterFilghtsByStops(0,$event.checked)"> Air Asia
			</mat-checkbox>
			<mat-checkbox class="example-margin" (change)="filterFilghtsByStops(1,$event.checked)"> Vista
			</mat-checkbox>
			<mat-checkbox class="example-margin" (change)="filterFilghtsByStops(2,$event.checked)"> Indigo
			</mat-checkbox>
			<mat-checkbox class="example-margin" (change)="filterFilghtsByStops(2,$event.checked)"> Air India
			</mat-checkbox>
			</div>
		</mat-nav-list>
	</mat-tab>
</mat-tab-group>