@import './return-flight-review/return-flight-review.component.scss';
@import './one-way-flight-review/one-way-flight-review.component.scss';
@mixin experiva-flight-review($theme) {
  @include experiva-return-flight-review($theme);
  @include experiva-one-way-flight-review($theme);
  .experiva-flight-review {
    .banner {
      height: 250px;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin: 0 auto;
      display: none;

      @include respond(tab-land) {
        display: block;
		height: 137px;
      }
      @include respond(desktop) {
        display: block;
		height: 250px;
      }
      img {
        object-fit: cover;
      }
      h3 {
        position: absolute;
        top: 34%;
        transform: translateY(-34%);
        left: 12%;
        font-family: ClearSans;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-size: 25px;
        @include respond(tab-land) {
          top: 32%;
          transform: translateY(-32%);
          left: 8%;
        }
        @include respond(desktop) {
          top: 34%;
          transform: translateY(-34%);
        }
      }
    }
  }
}
