<div class="experiva-flight-review">
  <div class="banner row">
    <img src="./assets/images/review-banner.jpg" class="img-responsive" />
    <h3>Review Your Booking</h3>
  </div>
  <!-- <experiva-one-way-flight-review></experiva-one-way-flight-review> -->
  <!-- <experiva-return-flight-review></experiva-return-flight-review> -->
  <router-outlet></router-outlet>
</div>
