@mixin experiva-one-way-flights-search($theme) {
  $background: map-get(
    $map: $theme,
    $key: background
  );
  $foreground: map-get(
    $map: $theme,
    $key: foreground
  );
  $primary: map-get(
    $map: $theme,
    $key: primary
  );
  $accent: map-get(
    $map: $theme,
    $key: accent
  );
  $warn: map-get(
    $map: $theme,
    $key: warn
  );

  //   .img-responsive {
  //     height: auto;
  //     width: auto;
  //     max-width: 100%;
  //     display: block;
  //     vertical-align: middle;
  //   }

  .experiva-one-way-flights-search {
    .content {
      display: block;

      @include respond(tab-land) {
        display: flex;
      }
      @include respond(desktop) {
        display: flex;
      }
      .filters {
        width: 100%;
        flex: 100%;
        margin-right: 2%;
        box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.06);
        display: none;

        &.visible {
          display: block;
        }

        @include respond(tab-land) {
          width: 20%;
          flex: 20%;
          margin-right: 1%;
          display: block;
        }
        @include respond(desktop) {
          width: 24%;
          flex: 24%;
          margin-right: 1%;
        }
        h3 {
          font-size: 30px;
          color: mat-color($foreground, base);
          font-family: ClearSans Bold;
          border-bottom: 1px solid #eee;
          padding-bottom: 5px;
          margin-bottom: 30px;
          position: relative;

          &:after {
            background: mat-color($primary);
            height: 3px;
            width: 40%;
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0;

            @include respond(tab-land) {
              width: 80%;
            }

            @include respond(desktop) {
              width: 60%;
            }
          }
        }
        h5 {
          font-family: ClearSans Bold;
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 20px;
          color: #4e4e4e;
          margin-bottom: 10px;
          color: #ff7f06;

          @include respond(tab-land) {
            font-size: 15px;
          }
          @include respond(desktop) {
            font-size: 15px;
          }
        }
        .depart-time {
          border-bottom: 1px solid #ff5722;
          padding: 10px 0px 10px;
          margin-bottom: 10px;

          .example-margin {
            .mat-checkbox-layout {
              margin-bottom: 15px;
              display: block;

              .mat-checkbox-inner-container {
                height: 22px;
                width: 22px;
                margin-right: 15px;

                @include respond(tab-land) {
                  margin-right: 5px;
                }
                @include respond(desktop) {
                  margin-right: 15px;
                }
                .mat-checkbox-frame {
                  border-color: #e5e5e5;
                }
              }
              .mat-checkbox-label {
                font-family: Roboto;
                font-weight: 500;
                font-size: 16px;
                color: #4e4e4e;

                @include respond(tab-land) {
                  font-size: 12px;
                }
                @include respond(desktop) {
                  font-size: 15px;
                }
                .mor {
                  font-family: Roboto;
                  color: #000;
                  font-weight: 300;
                }
              }
            }
          }
        }
        .security {
          border-bottom: 1px solid #ff5722;
          padding: 10px 0px 10px;
          margin-bottom: 10px;

          .example-margin {
            .mat-checkbox-layout {
              margin-bottom: 15px;
              display: block;

              .mat-checkbox-inner-container {
                height: 22px;
                width: 22px;
                margin-right: 15px;

                .mat-checkbox-frame {
                  border-color: #e5e5e5;
                }
              }
              .mat-checkbox-label {
                font-family: Roboto;
                font-size: 16px;
                color: #4e4e4e;

                @include respond(tab-land) {
                  font-size: 12px;
                }
                @include respond(desktop) {
                  font-size: 15px;
                }
              }
            }
          }
        }
        .stops {
          border-bottom: 1px solid #ff5722;
          padding: 10px 0px 10px;
          margin-bottom: 10px;

          .example-margin {
            .mat-checkbox-layout {
              margin-bottom: 15px;
              display: block;

              .mat-checkbox-inner-container {
                height: 22px;
                width: 22px;
                margin-right: 15px;

                .mat-checkbox-frame {
                  border-color: #e5e5e5;
                }
              }
              .mat-checkbox-label {
                font-family: Roboto;
                font-size: 16px;
                color: #4e4e4e;

                @include respond(tab-land) {
                  font-size: 12px;
                }
                @include respond(desktop) {
                  font-size: 15px;
                }
              }
            }
          }
        }
        .pref-airlines {
          padding: 10px 0px 10px;
          margin-bottom: 10px;

          .example-margin {
            .mat-checkbox-layout {
              margin-bottom: 15px;
              display: block;

              .mat-checkbox-inner-container {
                height: 22px;
                width: 22px;
                margin-right: 15px;

                .mat-checkbox-frame {
                  border-color: #e5e5e5;
                }
              }
              .mat-checkbox-label {
                font-family: Roboto;
                font-size: 16px;
                color: #4e4e4e;

                @include respond(tab-land) {
                  font-size: 12px;
                }
                @include respond(desktop) {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

      .flights,
      .skeleton-screen {
        width: 100%;
        flex: 100%;

        @include respond(tab-land) {
          width: 69%;
          flex: 69%;
          display: block;
        }
        @include respond(desktop) {
          width: 82%;
          flex: 82%;
          display: block;
        }

        .flight-common {
          margin: 0rem 0 1rem 0rem;
          justify-content: space-around;
          background: #fafcfc;
          padding: 0.6em 0;

          @include respond(tab-land) {
            background: transparent;
            margin: 0rem 0 1rem 0.5rem;
          }
          @include respond(desktop) {
            background: transparent;
            margin: 0rem 0 1rem 0.5rem;
          }
          @include mat-elevation(2);

          & > * {
            padding-top: 0rem !important;
            padding-bottom: 0rem !important;

            @include respond(tab-land) {
              padding: 0.5rem;
            }
            @include respond(desktop) {
              padding: 0.5rem;
            }
          }
        }
        .flight {
          @extend .flight-common;
          align-items: center;
          padding: 10px 0px 15px;
          border-radius: 5px;
          .flight__icon {
            display: flex;
            justify-content: center;
            img {
              height: 2rem;
              width: auto;
              object-fit: cover;

              @include respond(tab-land) {
                height: 1.7rem;
              }
              @include respond(desktop) {
                height: 2.5rem;
              }
            }
          }

          & > * {
            padding: 0.5rem;
          }
          .flight__details {
            justify-content: space-between;

            @include respond(desktop) {
              justify-content: space-around;
            }
            .flight__source {
              width: auto;

              @include respond(tab-land) {
                width: 25.333%;
              }
              @include respond(desktop) {
                width: 25.333%;
              }

              .flight__name {
                font-weight: 500;
                font-size: 18px;
                font-family: ClearSans Bold;

                @include respond(tab-land) {
                  font-size: 20px;
                }
                @include respond(tab-land) {
                  font-size: 20px;
                }
              }
              .flight__code {
                margin-bottom: 30px;
                color: mat-color($primary);
                font-family: ClearSans Regular;
                font-size: 14px;
              }
              .flight__source--depart-time {
                font-family: ClearSans Bold;
                font-size: 18px;
                color: mat-color($foreground, text);

                @include respond(tab-land) {
                  font-size: 22px;
                }
                @include respond(desktop) {
                  font-size: 22px;
                }
              }
              .flight__source--depart-city {
                font-family: ClearSans Regular;
                color: mat-color($primary);
                font-size: 14px;
              }
              .flight__source-city-code {
                font-family: ClearSans Regular;
                color: mat-color($foreground, base);
                font-size: 14px;
              }
            }
            .flight__travel-time {
              border-bottom: 1px solid mat-color($foreground, divider);
              width: auto;
              text-align: center;
              font-family: ClearSans Bold;
              padding-bottom: 5px;
              font-size: 14px;
              color: mat-color($primary);

              @include respond(tab-land) {
                font-size: 16px;
                width: 33.333%;
              }
              @include respond(desktop) {
                font-size: 16px;
                width: 33.333%;
              }
            }
            .flight__destination {
              width: auto;
              margin-left: 0px;

              @include respond(tab-land) {
                margin-left: 25px;
                width: 33.333%;
              }
              @include respond(desktop) {
                margin-left: 30px;
                width: 33.333%;
              }
              .flight__fare--rules {
                margin-bottom: 30px;
                .fare-rule {
                  font-family: ClearSans Bold;
                  display: block;
                  color: mat-color($foreground, base);
                  font-size: 13px;
                  margin-bottom: 5px;
                }
                .ref-noref {
                  font-family: ClearSans Regular;
                  display: block;
                  color: #239528;
                  font-size: 13px;
                }
              }
              .flight__source--depart-time {
                color: mat-color($foreground, text);
                font-family: ClearSans Bold;
                font-size: 18px;

                @include respond(tab-land) {
                  font-size: 22px;
                }
                @include respond(desktop) {
                  font-size: 22px;
                }
              }
              .flight__source--depart-city {
                font-size: 14px;
                color: mat-color($primary);
                font-family: ClearSans Regular;
              }
              .flight__source-city-code {
                font-family: ClearSans Regular;
                color: mat-color($foreground, base);
                font-size: 14px;
              }
            }
          }
          .col-2.flight__price {
            @include respond(tab-land) {
              max-width: 19%;
            }
          }
          .flight__price {
            .price {
              font-family: ClearSans Bold;
              font-size: 20px;
              margin-bottom: 2px;
              text-align: center;
              @include respond(tab-land) {
                margin-bottom: 10px;
                font-size: 18px;
              }
              @include respond(desktop) {
                margin-bottom: 10px;
              }
            }
            .mat-raised-button.mat-primary {
              width: 100%;
              border-radius: 5px !important;
              margin-bottom: 8px;
              font-family: ClearSans Regular;
              font-size: 12px;
              padding: 0 0.4rem;
              line-height: 26px;

              @include respond(tab-land) {
                font-size: 14px;
                padding: 0 0.5rem;
                line-height: 32px;
              }
              @include respond(desktop) {
                font-size: 14px;
                padding: 0 1rem;
                line-height: 36px;
              }
            }
            .flight-detail {
              text-align: center;
              a {
                color: #ff7f06;
                font-family: ClearSans Bold;
                font-size: 13px;
                text-decoration: none;
                @include respond(tab-land) {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      .flights.res-mobile {
        display: block;
        margin-bottom: 70px;

        @include respond(tab-land) {
          display: none;
        }
        @include respond(desktop) {
          display: none;
        }
      }
      .skeleton-screen {
        .flight {
          padding: 4rem 0;
          @extend .flight-common;

          .flight__icon {
            flex: 0 0 10%;
          }

          .flight__details {
            flex: 0 0 50%;
          }

          .flight__fare {
            flex: 0 0 10%;
          }
        }
      }
      .mobile-filters-toggle {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        background: mat-color($primary);
        text-align: right;
        padding: 10px 0px;

        @include respond(tab-land) {
          display: none;
        }
        @include respond(desktop) {
          display: none;
        }
        a {
          background: transparent;
          border: none;
          color: #fff;
          box-shadow: none;
          font-size: 22px;
          font-family: ClearSans Medium;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: 20px;
          svg {
            height: 1.9rem;
            width: 1.5rem;
            fill: #fff;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
