<div class="experiva-one-way-flight-review" *ngIf="selectedFlight">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="step-box">
          <ul class="step-ul">
            <li class="step-li done">Flight Selected</li>
            <li class="step-li current">Review</li>
            <li class="step-li">Traveller Details</li>
            <li class="step-li">Make Payment</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="review-sec">
    <div class="container">
      <div class="row c-row">
        <div class="col-md-8 tab-col-12">
          <div class="review-box">
            <div class="review-header">
              <div class="row">
                <div class="col-md-8">
                  <div class="review-flight">
                    <h3>
                      <svg>
                        <use xlink:href="./assets/images/home-sprite.svg#icon-arrow-left"></use>
                      </svg>&nbsp; Review your Flight </h3>
                  </div>
                  <div class="d-div">
                    <div class="departure">
                      <p class="i-head">Depart</p>
                      <p class="t-head"> {{
                          moment(
                            selectedFlight.Segments[0][0].Origin.DepTime
                          ).format('ddd DD MMM')
                        }} </p>
                    </div>
                    <div class="r-h-heading">
                      <p class="f-name"> {{
                          (selectedFlight?.Segments)[0][0]?.Origin?.Airport
                            ?.AirportCode
                        }} </p>
                      <p class="f-time">
                        <span *ngIf="totalStops > 0">{{ totalStops }} stop{{
                            totalStops > 1 ? 's' : ''
                          }} |</span> {{ totalTravelTime }} | Economy </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mob-ref">
                  <div class="right-h">
                    <p class="ref"> {{ selectedFlight.IsRefundable ? '' : 'Non ' }}Refundable </p>
                    <p class="fare-rules"> Fare rules <svg>
                        <use xlink:href="./assets/images/home-sprite.svg#icon-info"></use>
                      </svg>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let trip of selectedFlight.Segments[0]">
              <div class="review-body">
                <div class="flight-details">
                  <div class="row">
                    <div class="col-md-3 tab-col-3">
                      <div class="flight-img-div">
                        <img [src]="
                            'assets/images/flights/' +
                            selectedFlight.AirlineCode +
                            '.jpg'
                          " class="flight-img" />
                        <div class="flight-title">
                          <p class="flight-name"> {{ trip.Airline.AirlineName }} </p>
                          <p class="flight-code"> {{ trip.Airline.AirlineCode }} </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-4">
                      <p class="flight-se-time"> {{ moment(trip.Origin.DepTime).format('hh:mm A') }} </p>
                      <p class="flight-s-name"> {{ trip.Origin.Airport.CityName }} </p>
                      <p class="f-des">{{ trip.Origin.Airport.AirportName }}</p>
                    </div>
                    <div class="col-md-3 col-4">
                      <p class="duration-f">{{ getTimeDiff(trip.Duration) }}</p>
                    </div>
                    <div class="col-md-3 col-4">
                      <div class="tab-text-right">
                        <p class="flight-se-time"> {{
                            moment(trip.Destination.ArrTime).format('hh:mm A')
                          }} </p>
                        <p class="flight-s-name"> {{ trip.Destination.Airport.CityName }} </p>
                        <p class="f-des"> {{ trip.Destination.Airport.AirportName }} </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="baggage">
                  <div class="row">
                    <div class="col-md-4 col-4">
                      <h4>Baggage</h4>
                      <p>Adult:</p>
                    </div>
                    <div class="col-md-4 col-4">
                      <h4>Check-In</h4>
                      <p>{{ trip.Baggage }}</p>
                    </div>
                    <div class="col-md-4 col-4">
                      <h4>Cabin</h4>
                      <p class="noborder">{{ trip.CabinBaggage || '-' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="continue">
            <button type="button" class="btn btn-continue">Continue</button>
          </div>
          <div class="mobile-view">
            <div class="col-md-5 col-5">
              <h3>
                <span>₹</span> {{ fare.baseFare + fare.gst + fare.otherCharges + fare.taxes }} </h3>
              <p> For 1 Adult <svg>
                  <use xlink:href="./assets/images/home-sprite.svg#icon-info"></use>
                </svg>
              </p>
            </div>
            <div class="col-md-7 col-7 res-continue-btn">
              <button type="button" class="btn btn-continue">Continue</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="one-way-review-fare-summary">
            <h3>Fare Summary</h3>
            <div class="fare">
              <h5>
                <svg>
                  <use xlink:href="./assets/images/home-sprite.svg#icon-minus-outline"></use>
                </svg>&nbsp; Base Fare </h5>
              <div class="price">
                <div class="text-left">
                  <span>Adult(s) (1 X ₹ {{ fare.baseFare }})</span>
                </div>
                <div class="text-right">
                  <span>₹ {{ fare.baseFare }}</span>
                </div>
              </div>
            </div>
            <div class="fare">
              <h5>
                <svg>
                  <use xlink:href="./assets/images/home-sprite.svg#icon-minus-outline"></use>
                </svg>&nbsp; Fee & Surcharges </h5>
              <div class="price">
                <div class="text-left">
                  <span>GST</span>
                </div>
                <div class="text-right">
                  <span>₹ {{ fare.gst }}</span>
                </div>
              </div>
              <div class="price">
                <div class="text-left">
                  <span>Other Taxes</span>
                </div>
                <div class="text-right">
                  <span>₹ {{ fare.taxes }}</span>
                </div>
              </div>
            </div>
            <div class="fare fare-border">
              <h5 class="left bold">
                <svg>
                  <use xlink:href="./assets/images/home-sprite.svg#icon-minus-outline"></use>
                </svg>&nbsp; Other Services </h5>
              <h5 class="right">₹ {{ fare.otherCharges }}</h5>
            </div>
            <div class="total-price">
              <div class="price">
                <div class="text-left">
                  <span>Total Amount</span>
                </div>
                <div class="text-right">
                  <span>₹ {{
                      fare.baseFare + fare.gst + fare.otherCharges + fare.taxes
                    }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
