@mixin experiva-one-way-flight-review($theme) {

  .experiva-one-way-flight-review {
    counter-reset: section;
	.container
	{
		@include respond (tab-land)
		{
			max-width:100%;
		}
		@include respond (desktop)
		{
			max-width:1140px;
		}
	}
    p{
      font-family: Montserrat Medium;
    }
    .step-box {
	
	  display:none;
	  @include respond (tab-land)
	  {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background: white;
      width: 80%;
      margin: -80px auto 0;
      padding: 40px 40px 50px;
      z-index: 9999999;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
      top: -15px;
	  }
	  @include respond (desktop)
	  {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background: white;
      width: 80%;
      margin: -80px auto 0;
      padding: 40px 40px 50px;
      z-index: 9999999;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
      top: -15px;
	  }

      ul.step-ul {
        display: flex;
        justify-content: space-around;

        li.step-li {
          font-family: Montserrat Medium;
          border-bottom: 3px solid #E8E8E8;
          width: 100%;
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          color: #A8A8A8;
		  text-transform:uppercase;
		  font-size: 12px;
        }
        li.step-li.current{
          color: black;
        }
        li.step-li.current:before{
          background: #699a00;
          color: white;
        }
        li.step-li:before {
          counter-increment: section;
          content: counter(section);
          color: white;
          background: #A8A8A8;
          /* padding: 10px; */
          width: 22px;
          height: 22px;
          display: inline-block;
          padding: 4px;
          font-size: 12px;
          text-align: center;
          border-radius: 50%;
          margin-right: 7px;
        }

        li.done.step-li:after {
          content: "" !important;
          border-width: 2px !important;
          border-color: rgba(255, 0, 0, 0) rgba(0, 0, 255, 0) white white;
          border-style: solid !important;
          width: 0px !important;
          height: 7px !important;
          /* padding: 0 !IMPORTANT; */
          border-radius: 0 !important;
          background: no-repeat;
          padding: 0 4px !important;
          position: absolute;
          -webkit-transform: rotate(-28deg) !important;
          transform: rotate(-45deg) !important;
          left: 5px;
          top: 6px;
        }

        li.done.step-li:before {
          content: "" !IMPORTANT;
          background: #699A00;
          position: relative;
        }

        li.done.step-li {
          color: #699A00;
          position: relative;

          border-color: #699a00;
        }
      }
    }
    .review-sec{
      padding: 0px;
	  @include respond (tab-land)
	  {
		padding:10px 0px 0px;
		margin-left:0px;
		margin-right:0px;
	  }
	  @include respond (desktop)
	  {
		padding:50px;
		margin-left:0px;
		margin-right:0px;
	  }
      .c-row{
        margin-top: 30px;
	  @include respond (tab-land)
	  {
		margin-top: 70px;
	  }
	  @include respond (desktop)
	  {
		margin-top: 70px;
	  }
	  .tab-col-12
	  {
	  @include respond (tab-land)
	  {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left:0px;
		padding-right:0px;
	  }
	  @include respond (desktop)
	  {
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
		padding-left:15px;
		padding-right:15px;
	  }
	  }
        .review-box {
			border: 0px;
			box-shadow: none;
			border-radius: 0px;
			margin-bottom:10px;
		  @include respond (tab-land)
		  {
			border-top: 1px solid gainsboro;
			border-bottom: 1px solid gainsboro;
			border-radius: 5px;
			box-shadow: none;
			margin-bottom:40px;
		  }
		  @include respond (desktop)
		  {
			border: 1px solid gainsboro;
			border-radius: 5px;
			box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
			margin-bottom:40px;
		  }
          .review-header {
			padding: 15px 15px 15px 0px;
			border-bottom:0px;
		  @include respond (tab-land)
		  {
            padding: 15px;
            border-bottom: 1px solid gainsboro;
		  }
		  @include respond (desktop)
		  {
            padding: 15px;
            border-bottom: 1px solid gainsboro;
		  }
		  .review-flight
		  {
			margin-bottom:50px;
			display:block;
			  @include respond (tab-land)
			  {
				display:block;
			  }
			  @include respond (desktop)
			  {
				display:none;
			  }
			h3
			{
				color:#353738;
				font-family:ClearSans Bold;
				font-size:29px;
				@include respond (tab-land)
				{
					margin-bottom:30px;
				}
				svg
				{
					height:2rem;
					width:3rem;
					fill:#353738;
				}
			}
		  }
            .d-div {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .departure {
                background: linear-gradient(90deg, #313231, #6C6D6C);
                color: white;
                padding: 12px 22px;
                margin-right: 15px;
            
                p.i-head {
                  text-transform: uppercase;
                  font-size: 14px;
              }

            }
            .r-h-heading{
              p.f-name {
                color: #414141;
                font-size: 22px;
            }
            p.f-time {
              color: #a8a8a8;
              font-family: Montserrat Regular;
              font-size: 12px;
              
          }
            }
			.mob-ref
			{
				position:relative;
				top:100px;
				@include respond (tab-land)
				{
					top: 127px;
				}
				@include respond (desktop)
				{
					position:inherit;
				}
			}
          }
          .right-h {
            display: flex;
            justify-content: space-between;
            color: #414141;
            font-size:15px;
			flex-direction: column;
			align-items: flex-end;
			@include respond (tab-land)
			{
				flex-direction: inherit;
			}
			@include respond (desktop)
			{
				flex-direction: inherit;
			}
            p.ref {
              color: #699a00;
              font-family: Montserrat Bold;
            }
            p.fare-rules {
              font-family: Montserrat Bold;
              svg
              {
                height: 0.9rem;
                width: 0.9rem;
                fill: #444;
                margin-left: 3px;
              }
          }
        }
        }
        .review-body {
           padding: 30px 0px;
		   @include respond (tab-land)
		   {
			padding: 30px 15px;
		   }
		   @include respond (desktop)
		   {
			padding: 30px 15px;
		   }
			.flight-details
			{
			margin-bottom:50px;
			.tab-col-3
			{
				@include respond (tab-land)
				{
					flex: 0 0 100%;
					max-width: 100%;
				}
				@include respond (desktop)
				{
					flex: 0 0 25%;
					max-width: 25%;
				}
			}
			.col-4
			{
				@include respond (tab-land)
				{
					flex: 0 0 33.333333%;
					max-width: 33.333333%;
				}
				@include respond (desktop)
				{
					flex: 0 0 25%;
					max-width: 25%;
				}
			}
           .flight-img-div
		   {
            display: flex;
            justify-content: left;
            align-items: center;
			@include respond (tab-land)
			{
				justify-content: left;
			}
			@include respond (desktop)
			{
				justify-content: space-between;
			}
            .flight-img
            {
              height:70px;
            }
			.flight-title
			{
				display:flex;
				margin-left: 20px;
				@include respond (tab-land)
				{
					display:flex;
					margin-left: 20px;
				}
				@include respond (desktop)
				{
					display:block;
					margin-left: 0px;
				}
				p.flight-name
				{
				  font-family: Montserrat SemiBold;
					color: #414141;
					margin-bottom: 6px; 
					text-transform: capitalize;
				}
				p.flight-code
				{
				  color: #BCBCBC;
				  font-family: Montserrat Medium;
				  font-size: 13px;
				  text-align: left;
				  margin-left:10px;
				  @include respond (tab-land)
				  {
					margin-left:10px;
				  }
				  @include respond (desktop)
				  {
					margin-left:0px;
				  }
				}
			}
			}
			.tab-text-right
			{
				text-align:right;
				@include respond (tab-land)
				{
					text-align:right;
				}
				@include respond (desktop)
				{
					text-align:left;
				}
			}
			p.flight-se-time
			{
			  font-family: Montserrat ExtraBold;
				  color: #414141;
				  font-size: 28px;
				  margin-bottom: 5px;
				  margin-top: 30px;
			}
			p.flight-s-name
			{
			  font-family: Montserrat Medium;
			  color: #7F7F7F;
			  margin-bottom: 5px;
			}
			p.f-des
			{
				color: #BDBDBD;
				font-size: 13px;
				font-family: Montserrat Light;
				margin-bottom: 5px;
			}
			p.duration-f
			{
				color: #484848;
				font-family: Montserrat Medium;
				margin-bottom: 5px;
				border-bottom: 2px solid gainsboro;
				text-align: center;
				margin-top: 50px;
			}
		}
		.baggage
		{
			text-align:center;
			h4
			{
				text-transform:uppercase;
				margin-bottom:30px;
				color:#333;
				font-family:'Montserrat Medium';
				font-size:14px;
			}
			p
			{
				font-family:'Montserrat Regular';
				color:#BBBBBB;
				font-size:14px;
				margin-bottom:20px;
				border-right:1px solid #BBBBBB;
			}
			.noborder
			{
				border:0px;
			}
		}
      }
	  .plane-change
	  {
			text-align:center;
		    position: relative;
			hr
			{
				position: absolute;
				width: 100%;
				margin-top: 9px;
				z-index: -1;
				border-top: 1px solid gainsboro;
				border-bottom:0px;
				background: gainsboro;
			}
		span
		{
			font-family:Montserrat Medium;
			font-size:13px;
			border:1px dashed gainsboro;
			padding:5px 20px;
			color:#585858;
			z-index: 1;
			background: #FFF;
		}
	  }
      }
      .continue
	  {
		display:none;
		@include respond (tab-land)
		{
			display:none;
		}
		@include respond (desktop)
		{
			display:block;
		}
		.btn-continue
		{
            background: #ff5722;
			color:#FFF;
			border:0px;
			font-size:18px;
			font-family:'Montserrat Medium';
			padding: 0.8rem 4rem;
			border-radius: 4px;
			letter-spacing: 0.5px;
			cursor:pointer;
		}
	  }
	  
	  .mobile-view
	  {
		display:flex;
		background-image:linear-gradient(141deg, #303030 0%, #434E4A 51%, #626262 75%);
		padding:20px 0px;
		margin-left:-15px;
		margin-right:-15px;
		@include respond (tab-land)
		{
			display:flex;
			margin-left:0px;
			margin-right:0px;
		}
		@include respond (desktop)
		{
			display:none;
		}
		h3
		{
			color:#FFF;
			font-family:Montserrat Bold;
			font-size:36px;
			span
			{
				font-family:Montserrat Regular;
				font-size: 31px;
				font-weight: 500;
			}
		}
		p
		{
			color:#FFF;
			font-family:Montserrat Regular;
			font-size:16px;
		}
		svg
		{
			height:1.1rem;
			width:1.1rem;
			fill:#FFF;
			margin-left: 7px;
		}
		.btn-continue
		{
            background: #ff5722;
			color:#FFF;
			border:0px;
			font-size:18px;
			font-family:'Montserrat Medium';
			padding: 0.8rem 3.5rem;
			border-radius: 4px;
			letter-spacing: 0.5px;
			cursor:pointer;
		}
		.res-continue-btn
		{
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	  }
      
      }
      .one-way-review-fare-summary
      {
		display:none;
		@include respond (desktop)
		{
			display:block;
		}
        h3
        {
          margin-bottom:20px;
        }
        .fare
        {
		margin-bottom:15px;
          h5
          {
            font-size: 16px;
            font-weight: 500;
            font-family:'Montserrat SemiBold';
            color:#3A3A3A;
            letter-spacing:1px;
			margin-bottom:8px;
            svg
            {
              height: 1rem;
              width: 1rem;
              fill: #B5B4B4;
              margin-left: 3px;
            }
          }
		  .price
		  {
			margin-left:30px;
			margin-bottom:12px;
			.text-left
			{
				float:left;
				span
				{
					color:#9E9D99;
					font-family:Montserrat Regular;
					font-size:13px;
				}
				span.bold
				{
					font-weight:600;
					color:#000;
				}
			}
			.text-right
			{
				text-align:right;
				span
				{
					font-size:15px;
					color:#626262;
					font-family:Montserrat SemiBold;
				}
			}
		  }
        }
		  .fare-border
		  {
			border-top:1px solid #DDD;
			border-bottom:1px solid #DDD;
			padding: 9px 0px 6px;
			.left
			{
				float:left;
				font-family:Montserrat SemiBold;
				color:#3A3A3A;
			}
			.bold
			{
				font-weight:600;
				color:#000;
			}
			.right
			{
				text-align:right;
				color:#626262;
				font-family:Montserrat SemiBold;
			}
		  }
		.total-price
		{
		  .price
		  {
			margin-left:30px;
			font-family:Montserrat ExtraBold;
			font-size:22px;
			.text-left
			{
				float:left;
			}
			.text-right
			{
				text-align:right;
			}
		  }
		}
      }
    }
  }
}