<div class="experiva-hotel-listing">
    <div class="container content">
		<div class="res-hotel-detail">
			<h3>
			  <svg>
				<use
				  xlink:href="./assets/images/home-sprite.svg#icon-arrow-left"
				></use></svg>&nbsp; Amritsar, India
			</h3>
			<div class="search-icon">
				<svg>
				<use
				  xlink:href="./assets/images/home-sprite.svg#icon-search"
				></use></svg>
			</div>
		</div>
		<div class="filter-details">
			<div class="col-10">
				<div class="details">
					<div class="date">
						14 Sept - 16 Sept
					</div>
					<div class="rooms">
						2 Room
					</div>
					<div class="adults">
						2 Adult
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="edit">
					Edit
				</div>
			</div>
		</div>
		<div class="filters">
		  <h3>Filters</h3>
		  <h5>Hotels Name</h5>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Search">
			</mat-form-field>
		  <div class="depart-time">
			  <mat-checkbox class="example-margin">Hyatt Regency Amritsar</mat-checkbox>
			  <mat-checkbox class="example-margin">Hotel City Park</mat-checkbox>
			  <mat-checkbox class="example-margin">Comfort Inn Alstonia</mat-checkbox>
			  <mat-checkbox class="example-margin">FabHotel Orbion Mall Road</mat-checkbox>
			  <mat-checkbox class="example-margin">Hotel Fairway</mat-checkbox>
			  <mat-checkbox class="example-margin">Golden Sarovar Portico</mat-checkbox>
		  </div>

		  <h5>Star Category</h5>

		  <div class="security">
			  <mat-checkbox class="example-margin">5 Star</mat-checkbox>
			  <mat-checkbox class="example-margin">4 Star</mat-checkbox>
			  <mat-checkbox class="example-margin">3 Star</mat-checkbox>
			  <mat-checkbox class="example-margin">2 Star</mat-checkbox>
			  <mat-checkbox class="example-margin">1 Star</mat-checkbox>
			  <mat-checkbox class="example-margin">Unrated</mat-checkbox>
		  </div>
		</div>
		
		<div class="hotels desktop">
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Ramada Amritsar
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Hall Bazar</div>
						<div class="far-from">0.9 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg></a>
					</div>
				</div>
			</div>
			
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel1.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Hotel City Park
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Near Jallianwala bagh</div>
						<div class="far-from">0.5 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg>
						</a>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Ramada Amritsar
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Hall Bazar</div>
						<div class="far-from">0.9 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg></a>
					</div>
				</div>
			</div>
			
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel1.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Hotel City Park
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Near Jallianwala bagh</div>
						<div class="far-from">0.5 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg>
						</a>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Ramada Amritsar
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Hall Bazar</div>
						<div class="far-from">0.9 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg></a>
					</div>
				</div>
			</div>
			
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel1.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Hotel City Park
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Near Jallianwala bagh</div>
						<div class="far-from">0.5 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg>
						</a>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Ramada Amritsar
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Hall Bazar</div>
						<div class="far-from">0.9 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg></a>
					</div>
				</div>
			</div>
			
			<div class="hotel-grid">
				<div class="col-3 col-md-3">
					<img class="img-responsive" src="assets/images/hotel1.jpg"/>
				</div>
				<div class="col-6 col-md-6">
					<div class="hotel-detail">
						<h2>Hotel City Park
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg>
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
							<svg class="grey">
								<use
								  xlink:href="./assets/images/home-sprite.svg#icon-star"
								></use>
							</svg>
						</h2>
						<div class="location">Near Jallianwala bagh</div>
						<div class="far-from">0.5 km from Golden Temple</div>
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-3 col-md-3 res-booking">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
						<a href="javascript:void()" class="get-details">Get Details&nbsp;<svg>
							<use
							  xlink:href="./assets/images/home-sprite.svg#icon-info-large"
							></use>
						  </svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="hotels mobile">
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Ramada Amritsar</h2>
							<div class="location">Hall Bazar</div>
							<div class="far-from">0.9 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel1.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Hotel City Park</h2>
							<div class="location">Near Jallianwala bagh</div>
							<div class="far-from">0.5 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Ramada Amritsar</h2>
							<div class="location">Hall Bazar</div>
							<div class="far-from">0.9 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel1.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Hotel City Park</h2>
							<div class="location">Near Jallianwala bagh</div>
							<div class="far-from">0.5 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Ramada Amritsar</h2>
							<div class="location">Hall Bazar</div>
							<div class="far-from">0.9 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel1.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Hotel City Park</h2>
							<div class="location">Near Jallianwala bagh</div>
							<div class="far-from">0.5 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Ramada Amritsar</h2>
							<div class="location">Hall Bazar</div>
							<div class="far-from">0.9 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel1.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Hotel City Park</h2>
							<div class="location">Near Jallianwala bagh</div>
							<div class="far-from">0.5 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Ramada Amritsar</h2>
							<div class="location">Hall Bazar</div>
							<div class="far-from">0.9 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel1.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Hotel City Park</h2>
							<div class="location">Near Jallianwala bagh</div>
							<div class="far-from">0.5 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Ramada Amritsar</h2>
							<div class="location">Hall Bazar</div>
							<div class="far-from">0.9 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-pool"
									></use>
								  </svg>&nbsp;Swimming pool</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-local_restaurant"
									></use>
								  </svg>&nbsp;Restaurant</li>
							</ul>
						</div>
						<div class="options">
							<span>More Options: </span>Breakfast Included
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 6,429</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hotel-grid">
				<div class="res-flex">
					<div class="col-4">
						<img class="img-responsive" src="assets/images/hotel1.jpg"/>
					</div>
					<div class="col-8">
						<div class="hotel-detail">
							<h2>Hotel City Park</h2>
							<div class="location">Near Jallianwala bagh</div>
							<div class="far-from">0.5 km from Golden Temple</div>
							<div class="star-rating">
								<ul>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li>
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
									<li class="grey">
										<svg>
											<use
											  xlink:href="./assets/images/home-sprite.svg#icon-star"
											></use>
										</svg>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hotel-detail">
						<div class="aminities">
							<ul>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Parking</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;HouseKeeping</li>
								<li>
								  <svg>
									<use
									  xlink:href="./assets/images/home-sprite.svg#icon-check1"
									></use>
								  </svg>&nbsp;Multilingual staff</li>
							</ul>
						</div>
						<div class="options red">
							Walking Distance from Golden Temple
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="booking">
						<div class="amount">
							<div class="price">₹ 7,715</div>
							<div class="night">Per night</div>
						</div>
						<div class="button">
							<button type="button" class="btn book-now" routerLink="./12">Book Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>