@mixin experiva-hotel-listing($theme) {
  .experiva-hotel-listing {
	.content
	{
      display: block;
	  padding-left:0px;
	  padding-right:0px;
      @include respond(tab-land) {
        display: block;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 100%;
      }
      @include respond(desktop) {
        display: flex;
		padding-left:15px;
		padding-right:15px;
		max-width: 1140px;
      }
	  .res-hotel-detail
	  {
		display: flex;
		justify-content: space-between;
		margin-top:20px;
		@include respond (tab-land)
		{
			display:flex;
		}
		@include respond (desktop)
		{
			display:none;
		}
		h3
		{
			color:#353738;
			font-family:ClearSans Bold;
			font-size:29px;
			@include respond (tab-land)
			{
				margin-bottom:0px;
			}
			svg
			{
				height:2rem;
				width:3rem;
				fill:#353738;
			}
		}
		.search-icon
		{
			margin-right:20px;
			margin-top: 4px;
			svg
			{
				height:1.5rem;
				width:1.5rem;
				fill:#B0B0B0;
			}
		}
	  }
	  .filter-details
	  {
		display:flex;
		padding:20px 0px;
		background:#F2F5F4;
		justify-content: space-around;
		margin-top:20px;
		@include respond (tab-land)
		{
			display:flex;
		}
		@include respond (desktop)
		{
			display:none;
		}
		.col-10
		{
			padding-left:10px;
			padding-right:10px;
			.details
			{
				display:flex;
				color:#323131;
				font-family:Montserrat Medium;
				font-size:13px;
				@include respond (tab-land)
				{
					font-size:16px;
				}
				.date
				{
					padding-left:0px;
					@include respond (tab-land)
					{
						padding-left:20px;
					}
				}
				.rooms
				{
					padding-left:20px;
				}
				.adults
				{
					padding-left:20px;
				}
			}
		}
		.col-2
		{
			padding-left:10px;
			padding-right:10px;
			.edit
			{
				font-family:Montserrat SemiBold;
				color:#F44820;
				font-size:16px;
				text-align:right;
				@include respond (tab-land)
				{
					font-size:18px;
				}
			}
		}
	  }
      .filters {
        width: 100%;
        flex: 100%;
        margin-right: 2%;
        box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.06);
        display: none;

        &.visible {
          display: block;
        }

        @include respond(tab-land) {
          display: none;
        }
        @include respond(desktop) {
          width: 24%;
          flex: 24%;
          margin-right: 2%;
		  margin-top: 7%;
		  display:block;
        }
        h3 {
          font-size: 30px;
		  color:#000;
          font-family: ClearSans Bold;
          border-bottom: 1px solid #eee;
          padding-bottom: 5px;
          margin-bottom: 30px;
          position: relative;

          &:after {
            height: 3px;
            width: 40%;
			background:#ff5722;
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0;

            @include respond(tab-land) {
              width: 80%;
            }

            @include respond(desktop) {
              width: 60%;
            }
          }
        }
        h5 {
          font-family: ClearSans Bold;
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 20px;
          color: #4e4e4e;
          margin-bottom: 10px;
          color: #ff7f06;

          @include respond(tab-land) {
            font-size: 15px;
          }
          @include respond(desktop) {
            font-size: 15px;
          }
        }
		.example-full-width
		{
			width:90%;
		}
        .depart-time {
          border-bottom: 1px solid #ff5722;
          padding: 10px 0px 10px;
          margin-bottom: 10px;

          .example-margin {
            .mat-checkbox-layout {
              margin-bottom: 15px;
              display: block;

              .mat-checkbox-inner-container {
                height: 22px;
                width: 22px;
                margin-right: 15px;

                @include respond(tab-land) {
                  margin-right: 5px;
                }
                @include respond(desktop) {
                  margin-right: 15px;
                }
                .mat-checkbox-frame {
                  border-color: #e5e5e5;
                }
              }
              .mat-checkbox-label {
                font-family: Roboto;
                font-weight: 500;
                font-size: 16px;
                color: #4e4e4e;

                @include respond(tab-land) {
                  font-size: 12px;
                }
                @include respond(desktop) {
                  font-size: 15px;
                }
                .mor {
                  font-family: Roboto;
                  color: #000;
                  font-weight: 300;
                }
              }
            }
          }
        }
        .security {
          border-bottom: 1px solid #ff5722;
          padding: 10px 0px 10px;
          margin-bottom: 10px;

          .example-margin {
            .mat-checkbox-layout {
              margin-bottom: 15px;
              display: block;

              .mat-checkbox-inner-container {
                height: 22px;
                width: 22px;
                margin-right: 15px;

                .mat-checkbox-frame {
                  border-color: #e5e5e5;
                }
              }
              .mat-checkbox-label {
                font-family: Roboto;
                font-size: 16px;
                color: #4e4e4e;

                @include respond(tab-land) {
                  font-size: 12px;
                }
                @include respond(desktop) {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
	  .hotels
	  {
        width: 100%;
        flex: 100%;
		margin-top: 2%;

        @include respond(tab-land) {
          width: 100%;
          flex: 100%;
          display: block;
		  margin-top: 0;
        }
        @include respond(desktop) {
          width: 82%;
          flex: 82%;
          display: block;
			margin-top: 7%;
        }
		.hotel-grid
		{
			border-bottom:1px solid #EEE;
			border-radius: 5px;
			padding: 20px 5px;
			margin-bottom:10px;
			display:block;
			@include respond (tab-land)
			{
				display:flex;
				border-bottom: 1px solid #EEE;
				margin-bottom:15px;
			}
			@include respond (desktop)
			{
				display:flex;
				border: 1px solid #EEE;
				margin-bottom:30px;
			}
			.res-flex
			{
				display:flex;
				margin-bottom: 10px;
				.col-4
				{
					padding-left:5px;
					padding-right:5px;
				}
				.col-8
				{
					padding-left:5px;
					padding-right:5px;
				}
			}
			.col-12
			{
				padding-left:5px;
				padding-right:5px;
			}
			.img-responsive
			{
				height:auto;
				min-height:80px;
				width:auto;
				max-width:100%;
				display:block;
				margin:0 auto;
				object-fit:cover;
				border-radius:4px;
				@include respond (tab-land)
				{
					min-height:100px;
				}
				@include respond (desktop)
				{
					min-height:145px;
				}
			}
			
			.hotel-detail
			{
				h2
				{
					font-family:Montserrat ExtraBold;
					color:#33362F;
					font-size:18px;
					margin-bottom:5px;
					@include respond (tab-land)
					{
						font-size:22px;
					}
					@include respond (desktop)
					{
						font-size:25px;
					}
					svg
					{
						height:1.4rem;
						width:1.4rem;
						fill:#F1B209;
					}
					.grey
					{
						fill:#D6D6D6;
					}
				}
				.location
				{
					color:#919191;
					font-family:Montserrat Medium;
					margin-bottom:5px;
					font-size:14px;
					@include respond (tab-land)
					{
						font-size:16px;
					}
					@include respond (desktop)
					{
						font-size:16px;
					}
				}
				.far-from
				{
					color:#474747;
					font-family:Montserrat Medium;
					margin-bottom:5px;
					font-size: 14px;
					letter-spacing: 0.5px;
					@include respond (tab-land)
					{
						font-size:17px;
					}
					@include respond (desktop)
					{
						font-size:17px;
					}
				}
				.aminities
				{
					margin-bottom:15px;
					@include respond (tab-land)
					{
						margin-bottom:9px;
					}
					@include respond (desktop)
					{
						margin-bottom:9px;
					}
					ul
					{
						list-style:none;
						display:flex;
						li
						{
							font-family:Montserrat Regular;
							color:#636664;
							margin-right: 6px;
							font-size: 12px;
							@include respond (tab-land)
							{
								font-size:12px;
								letter-spacing: 0.5px;
							}
							@include respond (desktop)
							{
								font-size:14px;
								letter-spacing: 0.5px;
							}
							svg
							{
								width:1rem;
								height:1rem;
								fill:#ff5722;
								float: left;
								stroke-width: 0;
							}
						}
						li:last-child
						{
							margin-right:0px;
						}
					}
				}
				.options
				{
					font-family:Montserrat Regular;
					color:#209676;
					font-size: 14px;
					letter-spacing: 0.7px;
					margin-bottom:15px;
					@include respond (tab-land)
					{
						margin-bottom:0px;
					}
					@include respond (desktop)
					{
						margin-bottom:0px;
					}

					span
					{
						color:#AEAEAE;
					}
				}
				.options.red
				{
					color:#F30202;
					font-weight:600;
				}
			}
			.booking
			{
				text-align:center;
				.amount
				{
					.price
					{
						color:#23231C;
						font-family:Montserrat ExtraBold;
						font-size:28px;
					}
					.night
					{
						color:#858585;
						font-family:Montserrat Medium;
						font-size:16px;
					}
				}
				.button
				{
					.book-now
					{
						background:#ff5722;
						border:1px solid #ff5722;
						width:auto;
						padding:8px 20px;
						font-family:Montserrat Medium;
						font-size:15px;
						color:#FFF;
						border-radius:5px;
						margin:10px 0px;
						letter-spacing:0.5px;
						cursor:pointer;
						@include respond (tab-land)
						{
							width:100%;
							padding:8px 5px;
						}
						@include respond (respond)
						{
							width:100%;
							padding:8px 5px;
						}
					}
				}
				.get-details
				{
					color:#209676;
					font-family:Montserrat Medium;
					font-size: 12px;
					letter-spacing: 0.4px;
					text-decoration: none;
					@include respond (tab-land)
					{
						display:none;
					}
					@include respond (desktop)
					{
						display:block;
					}
					svg
					{
						width:1rem;
						height:1rem;
						fill:#209676;
						stroke-width: 0;
					}
				}
			}
			.res-booking
			{
				display:none;
				@include respond (tab-land)
				{
					display:flex;
					justify-content:flex-end;
				}
				@include respond (tab-land)
				{
					display:flex;
					justify-content:flex-end;
				}
			}
		}
	  }
		.desktop
		{
			display:none;
			@include respond (tab-land)
			{
				display:block;
			}
			@include respond (desktop)
			{
				display:block;
			}
		}
		.mobile
		{
			display:block;
			@include respond (tab-land)
			{
				display:none;
			}
			@include respond (desktop)
			{
				display:none;
			}
			.star-rating
			{
				ul
				{
					display:flex;
					li
					{
						svg
						{
							height:1.7rem;
							width:1.7rem;
							fill:#F1B209;
						}
					}
					.grey
					{
						svg
						{
							height:1.7rem;
							width:1.7rem;
							fill:#D6D6D6;
						}
					}
				}
			}
		}
	}
  }
}
