<div class="experiva-login">
  <form class="login">
    <div class="username-container">
      <div class="username">
        <input type="text" placeholder="Username" />
      </div>
    </div>
    <div class="password-container">
      <div class="password">
        <input type="password" placeholder="Username" />
      </div>
    </div>
    <div class="actions">
      <div class="login">
        <button type="submit" (click)="login({ name: 'rohit' })">Login</button>
      </div>
    </div>
  </form>
</div>
